<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>User</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right">
                <a ui-sref="add_user" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email" href="#/user/new" ng-click="save();">
                    <i class="fa fa-new"></i> Add New
                </a>
            </div>
        </div>
    </div>
</div>

    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>User List</h5>
</div>
<div class="ibox-content">
<!-- 
<table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
<thead>
    <div style="margin:7px;">
            <div class="col-xs-3 pull-right form-group">
            <input class="form-control" style=" height: 25px;" type="text"  placeholder="Search" ng-model="filterText.$">
            </div>
        </div>
<tr>
    <th>Name</th>
    <th>Username</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Type</th>
    <th>Created</th>
    <th></th>
</tr>
</thead>
<tbody>
<tr class="gradeX" ng-repeat="user in users | filter:filterText:strict">
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>
    <td>{{user.type}}</td>
    <td>{{user.created_at}}</td>
    <td><div row-tools row_id="{{user.id}}"></div></td>
</tr>
</table> -->
 <table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmu.dtOptions" dt-instance="vmu.dtInstance" width="100%" dt-column-defs="vmu.dtColumnDefs">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Type</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.type}}</td>
            <td>{{user.created_at}}</td>
            <td><div row-tools row_id="{{user.id}}"></div></td>
          </tr>
        </tbody>
      </table>
</form>
<div class="container">
</div>
</div>
</div>
</div>

</div>
</div>
</div>
