<!DOCTYPE html>
<head>
  <script type="text/javascript" src="assets/bower_components/tinymce/tinymce.js"></script>
  <script type="text/javascript" src="assets/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="assets/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</head>
<body ng-app="myApp">
  <form method="post" ng-controller="TinyMceController">
    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
    <button ng-click="getContent()">Get content</button>
    <button ng-click="setContent()">Set content</button>
  </form>
</body>
