<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="products">Products</a>
            </li>
            <li class="active">
                <strong>New Product</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Add a New Product</h5>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal" id="products_form">

        <div class="form-group">
            <label class="col-sm-2 control-label">Select a Category</label>

            <div class="col-sm-5">
                <select class="form-control m-b" name="account" ng-options="category.id as category.name for category in categories" ng-model="product.cat_id" data-required="true" data-trigger="change" >
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Stock Code</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="product.code" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>


        <div class="form-group"><label class="col-sm-2 control-label">Price</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="product.price" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Tax</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="product.tax" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
		
		
		<!-- new fields -->
		<div class="form-group"><label class="col-sm-2 control-label">Cogs</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="product.cogs" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
		
		<div class="form-group"><label class="col-sm-2 control-label">NER</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="product.ner" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
		<!-- new fields -->

        <div class="form-group">
            <label class="col-sm-2 control-label">Linked Product</label>

            <div class="col-sm-3">
                <select class="form-control m-b"  multiple="" ng-model="product.linked_product" ng-options="prod.id as prod.code for prod in products | filter:{ id : '!'+product.id}" >
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
		
		<div class="form-group">
            <label class="col-sm-2 control-label">Hide in Report</label>

            <div class="col-sm-3">
                <select class="form-control m-b" ng-options="hide.id as hide.title for hide in hiders" ng-model="product.hider" data-required="true">
				</select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                    <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">

                            <div summernote class="summernote" >
                               <textarea cols="100" rows="10" ng-model="product.description" style="border-color:#eee" data-required="true"></textarea>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Image</label>

            <div class="col-sm-3">
                <input type="file" id="image" class="form-control" nv-file-select uploader="uploader">
				
				<!-- -->
				
				<ul>
					<li ng-repeat="item in uploader.queue">
						Name: <span ng-bind="item.file.name"></span><br/>
					</li>
				</ul>
            </div>
        </div>
        <div class="hr-line-dashed"></div>


        <div class="form-group"><label class="col-sm-2 control-label"></label>

            <div class="col-sm-3">
                <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save"  ng-click="item.upload();save()">
                    <i class="fa fa-new"></i> Save
                </a>
				
                <a  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Save">
                    <i class="fa fa-new"></i> Cancel
                </a>
            </div>
        </div>

</form>
</div>
</div>
</div>
</div>
</div>
