<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Products</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right" ng-if="profile.type=='admin'">
                <a ui-sref="add_product" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email" href="#/products/new" ng-click="save();">
                    <i class="fa fa-new"></i> Add New
                </a>
            </div>
        </div>
    </div>
</div>
    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <!-- <h5>Basic Data Tables Example
        <small>Sort, search</small>
    </h5> -->
</div>
<div class="ibox-content">
<table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmp.dtOptions" dt-instance="vmp.dtInstance" width="100%" dt-column-defs="vmp.dtColumnDefs">
        <thead>
          <tr>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
            <th>Tax</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td>{{product.code}}</td>
            <td>{{product.category.name}}</td>
            <td class="center">{{product.price}}</td>
            <td>{{product.tax}}</td>
            <td>{{product.description}}</td>
            <td><div row-tools row_id="{{product.id}}"></div></td>
          </tr>
        </tbody>
      </table>

  <div class="container">

</div>
<!-- <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
<thead>
<tr>
    <th>Code</th>
    <th>Category</th>
    <th>Price</th>
    <th>Tax</th>
    <th>Description</th>
    <th></th>
</tr>
</thead>
<tbody>
<tr class="gradeX" ng-repeat="product in products">
    <td>{{product.code}}</td>
    <td>{{product.category.name}}</td>
    <td class="center">{{product.price}}</td>
    <td>{{product.tax}}</td>
    <td>{{product.description}}</td>
    <td><div row-tools row_id="{{product.id}}"></div>
</td>
</tr>
</table> -->

</div>
</div>
</div>
</div>
</div>
</div>
</div>
