 <style>
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Proposals</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Proposals</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right">
                <a ui-sref="proposal" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email" href="#/proposal">
                    <i class="fa fa-new"></i> Add New
                </a>
            </div>
        </div>
    </div>
</div>

<flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Proposals List</h5>
</div>
<div class="ibox-content">

<table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmpr.dtOptions" dt-instance="vmpr.dtInstance" width="100%" dt-column-defs="vmpr.dtColumnDefs">
<thead>
<tr>
    <th>No</th>
    <th>Company Name</th>
    <th>Details</th>
    <!-- <th>Hardware</th> -->
    <th>Create At</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
<tr class="gradeX" ng-repeat="proposal in proposals">
    <td>{{ proposal.id }}</td>
    <td>{{ proposal.tradingName }}</td>
    <td>{{ proposal.contactPerson}} | {{ proposal.emailAddress}} | {{ proposal.suburb}}</td>
    <!-- <td>{{proposal.schqty}} | {{proposal.schOption}}</td> -->
    <td>{{ proposal.created_at}}</td>
	  <td>
        <a ng-click="edit(proposal.id)"><i class="fa fa-pencil fa-2x"></i></a>
        <a ng-click="delete(proposal.id)"><i class="fa fa-trash-o fa-2x"></i></a>
        <a ng-click="create(proposal.id)"><i class="fa fa-newspaper-o fa-2x"></i></a>
    </td>
</tr>
</table>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
