
<style>
    @page pages {
      sheet-size : A4;
      header: html_pageHeader;
      footer: html_pageFooter;
      margin-top: 1%;
      margin-bottom: 2%;
      margin-right: 3%;
      margin-left: 3%;
      font-family: san-serif;
    }

    div.pages {
      page-break-before: always;
      page: pages;
      font-family: sans-serif;
    }

    td .page-num{
      content : counter(page);
    }

    li {
      text-indent: 20px;
      margin-left: 50px;
    }

</style>
<div class="pages pageBreaker">
  <htmlpageheader name="pageHeader">
    <table width="100%">
      <tr style="border-bottom: 1px solid black">
        <td align="left">
          <img src="../../assets/images/proposal/logo.png" />
        </td>
        <td align="right">          
        </td>
      </tr>
    </table>
  </htmlpageheader>
  <div id="anchor" class="blank-div" style="height:100px; margin-bottom: -1px;">
  </div>
  <div style="text-align:center;font-size:30pt;font-weight:bold;margin-bottom:70px">
    Nexgen Business Technology Solution
  </div>
  <div style="text-align:center;margin-bottom:50px">
    <img src="../../assets/images/proposal/cover.png" />
  </div>
  <div style="text-align:center;margin-bottom:30px;font-weight:bold;font-size:40pt">
    {{ ngDialogData.proposalData.tradingName }}
  </div>
  <div id="anchor" class="blank-div" style="height:100px; margin-bottom: -1px;">
  </div>
  <div align="center" style="margin-bottom:40px">
    <table style="width:85%">
      <tr>
        <td style="text-align:left;width:50%">
            Prepared By : {{ngDialogData.proposalData.preparedBy}}
        </td>
        <td style="text-align:left;width:50%">
            Date : {{ngDialogData.proposalData.datePrepared}}
        </td>
      </tr>
      <tr>
        <td style="text-align:left;width:50%">
            Phone Number : {{ngDialogData.proposalData.preparedPhone}}
        </td>
        <td style="text-align:left;width:50%">
            Email Address : {{ngDialogData.proposalData.preparedEmail}}
        </td>
      </tr>
    </table>
  </div>
  <htmlpagefooter name="pageFooter">
    <table width="100%">
      <tr>
        <td align="left">
          <b>SYDNEY</b>: Level 2, 71 York Street Sydney, NSW 2000<br />
          <b>MELBOURNE</b>: Level 6, 606 St Kilda Rd Melbourne, VIC 3004<br />
          <b>BRISBANE</b>: Level 2/5 Cribb St Milton QLD 4064 <br />
          Tel: 1300 02 04 02 | Fax: 1300 02 88 78 | support@nexgen.com.au | www.nexgen.com.au
        </td>
        <td align="right">
          <img src="../../assets/images/proposal/footer.png" />
        </td>
      </tr>
    </table>
  </htmlpagefooter>
</div>
<div class="pages pageBreaker">
  <htmlpageheader name="pageHeader">
    <table width="100%">
      <tr style="border-bottom: 1px solid black">
        <td align="left">
          <img src="../../assets/images/proposal/logo.png" />
        </td>
        <td align="right">          
        </td>
      </tr>
    </table>
  </htmlpageheader>
  <div id="anchor" class="blank-div" style="height:25px; margin-bottom: -1px;">
  </div>
  <p style="text-align:justify;color:red;font-weight: bold;font-size:14pt">
    Corporate Overview
  </p>
  <p style="text-align:justify;font-size:12pt">
    Nexgen Australia designs tailored solutions specific to your business needs, giving your business practical and innovative products to assist and improve your business’ day to day tasks. 

    Our aim “is to deliver highest quality products and unparalleled customer service”.  Our mission is “to deliver the latest technology, improving your business efficiencies, whilst offering savings that make your new equipment affordable” Our focus at Nexgen is to deliver a unified communications solution. This includes Telephony hardware and services, Multifunction Copiers, Security Surveillance and video conferencing. The brands Nexgen represents are market leaders in their fields and are built on quality and reliability.
  </p>
  <p style="text-align:justify;color:red;font-weight: bold;font-size:14pt">
    Your Current Hardware Situation
  </p>
  <p style="text-align:justify;font-size:12pt">
    {{ngDialogData.proposalData.currentHardware}}
  </p>
  <p style="text-align:justify;color:red;font-weight: bold;font-size:14pt">
    Your Current Services Situation
  </p>
  <p style="text-align:justify;font-size:12pt">
    {{ngDialogData.proposalData.currentServices}}
  </p>
  <htmlpagefooter name="pageFooter">
    <table width="100%">
      <tr>
        <td align="left">
          <b>SYDNEY</b>: Level 2, 71 York Street Sydney, NSW 2000<br />
          <b>MELBOURNE</b>: Level 6, 606 St Kilda Rd Melbourne, VIC 3004<br />
          <b>BRISBANE</b>: Level 2/5 Cribb St Milton QLD 4064 <br />
          Tel: 1300 02 04 02 | Fax: 1300 02 88 78 | support@nexgen.com.au | www.nexgen.com.au
        </td>
        <td align="right">
          <img src="../../assets/images/proposal/footer.png" />
        </td>
      </tr>
    </table>
  </htmlpagefooter>
</div>
<div class="pages pageBreaker">
  <htmlpageheader name="pageHeader">
    <table width="100%">
      <tr style="border-bottom: 1px solid black">
        <td align="left">
          <img src="../../assets/images/proposal/logo.png" />
        </td>
        <td align="right">          
        </td>
      </tr>
    </table>
  </htmlpageheader>
  <div id="anchor" class="blank-div" style="height:25px; margin-bottom: -1px;">
  </div>
  <p style="text-align:center;color:red;font-weight: bold;font-size:14pt">
    Equipment Overview
  </p>
  <p style="text-align:justify;font-size:12pt">
    Proposed Solution
  </p>
  <p style="text-align:justify;color:red;font-weight: bold;font-size:14pt">
      <ul>
        <li ng-repeat="(index,option) in ngDialogData.proposalData.schOption track by $index">
            {{option.item}}<br /><img ng-if="option.img1!=''" src="/{{option.img1}}" width="400px" height="200px" />
        </li>
      </ul>
  </p>
  <htmlpagefooter name="pageFooter">
    <table width="100%">
      <tr>
        <td align="left">
          <b>SYDNEY</b>: Level 2, 71 York Street Sydney, NSW 2000<br />
          <b>MELBOURNE</b>: Level 6, 606 St Kilda Rd Melbourne, VIC 3004<br />
          <b>BRISBANE</b>: Level 2/5 Cribb St Milton QLD 4064 <br />
          Tel: 1300 02 04 02 | Fax: 1300 02 88 78 | support@nexgen.com.au | www.nexgen.com.au
        </td>
        <td align="right">
          <img src="../../assets/images/proposal/footer.png" />
        </td>
      </tr>
    </table>
  </htmlpagefooter>
</div>
<div class="pages pageBreaker">
  <htmlpageheader name="pageHeader">
    <table width="100%">
      <tr style="border-bottom: 1px solid black">
        <td align="left">
          <img src="../../assets/images/proposal/logo.png" />
        </td>
        <td align="right">          
        </td>
      </tr>
    </table>
  </htmlpageheader>
  <div id="anchor" class="blank-div" style="height:25px; margin-bottom: -1px;">
  </div>
  <p style="text-align:center;color:red;font-weight: bold;font-size:14pt">
    Cost Analysis
  </p>
  <p style="text-align:justify;font-size:12pt">
    Service Summary
  </p>
  <table border="1" class="summary" style="width: 100%">
    <tr>
      <th colspan="2" align="center">
        Service Description
      </th>
      <th  align="center">
        Particulars
      </th>
      <th  align="center">
        Sub-Total
      </th>
    </tr>
    <!-- start of Landline -->
    <tr ng-if="ngDialogData.proposalData.type.voiceCap == true|| 
          ngDialogData.proposalData.type.focusStandard == true || 
          ngDialogData.proposalData.type.completeOffice == true  || 
          ngDialogData.proposalData.type.voiceUt == true || 
          ngDialogData.proposalData.type.voiceSolution == true || 
          ngDialogData.proposalData.type.voiceEssential == true">
        <td rowspan="{{ngDialogData.proposalData.landlineNumRow}}"  class="rotate size" >Landline</td>
    </tr>
    <!-- NBF Cap -->
    <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceStd" ng-if="ngDialogData.proposalData.type.voiceCap == true" style="background: gray">
        <td class="tdwide"><b>NBF Cap</b></td>
        <td class="tdwide">
            <span ng-if="voiceStd == 495">5</span>
            <span ng-if="voiceStd == 594">6</span>
            <span ng-if="voiceStd == 792">8</span>
            <span ng-if="voiceStd == 990">10</span>
            <span ng-if="voiceStd == 1188">12</span>
            <span ng-if="voiceStd == 1106">14</span>
            <span ng-if="voiceStd == 1264">16</span>
            <span ng-if="voiceStd == 1422">18</span>
            <span ng-if="voiceStd == 1580">20</span>
            <span ng-if="voiceStd == 1975">25</span>
            Channels
        </td>
        <td class="tdnarrow"> $ {{voiceStd | number:2}}
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceCap == true" >
        <td class="tdwide">Direct in Dial</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.dID[index] == 9.99">10 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 15.99">20 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 19.99">50 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 25.99">100 x DID</span>
        </td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.dID[index] | number:2}}</td>        
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceCap == true && ngDialogData.proposalData.voiceFaxToEmail[index]==true">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">{{ngDialogData.proposalData.voiceFaxQty[index]}} x 9.95</td>
        <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">{{ngDialogData.proposalData.voiceFaxQty[index] * 9.95  | number:2}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.bFCapDiscount[index]>0 && ngDialogData.proposalData.type.voiceCap == true" ng-repeat-end>
        <td class="tdwide">Maximum Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">${{ngDialogData.proposalData.bFCapDiscount[index] | number:2}}</td>
    </tr>
    <!-- End of NBF Cap -->
    <!-- Start of NBF Standard -->
    <tr ng-repeat-start="(index, voiceStandard) in ngDialogData.proposalData.voiceStdChannel"  ng-if="ngDialogData.proposalData.type.focusStandard == true" style="background: gray">
        <td class="tdwide"><b>NBF Standard</b></td>
        <td class="tdwide">
            <span ng-if="voiceStandard == 199">5 Channels</span>
            <span ng-if="voiceStandard == 219">6 Channels</span>
            <span ng-if="voiceStandard == 249">10 Channels</span>
            <span ng-if="voiceStandard == 299">20 Channels</span>
            <span ng-if="voiceStandard == 349">30 Channels</span>
        </td>
        <td class="tdnarrow">${{voiceStandard}} </td>

    </tr>
    <tr ng-if="ngDialogData.proposalData.type.focusStandard == true">
        <td class="tdwide" >Direct in Dials</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 9.99">10 x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 15.99">20 x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 19.99">50 x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 25.99">100 x DID</span>
        </td>
        <td class="tdnarrow">{{ngDialogData.proposalData.voiceStdDID[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.voiceStdFaxToEmail[index]==true && ngDialogData.proposalData.type.focusStandard == true">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceStdFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide"  ng-if="ngDialogData.proposalData.voiceStdFaxQty[index]>0">{{ngDialogData.proposalData.voiceStdFaxQty[index]}} x 9.95</td>
        <td class="tdnarrow"  ng-if="ngDialogData.proposalData.voiceStdFaxQty[index]>0">{{ngDialogData.proposalData.voiceStdFaxQty[index] * 9.95}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.bFStdDiscount[index]>0 && ngDialogData.proposalData.type.focusStandard == true">
        <td class="tdwide">Plan Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bFStdDiscount[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.bFCallDiscount>0 && ngDialogData.proposalData.type.focusStandard == true" ng-repeat-end>
        <td class="tdwide">Call Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bFCallDiscount[index]}}</td>
    </tr>
    <!-- End of NBF Standard -->
    <!-- Start of Complete Officte -->
    <tr ng-repeat-start="(index, voiceCompAnalouge) in ngDialogData.proposalData.voiceCompAnalouge" ng-if="ngDialogData.proposalData.type.completeOffice== true" style="background: gray">
        <td class="tdwide"><b>Complete Office</b></td>
        <td class="tdwide" ><span ng-if="voiceCompAnalouge>0"> Office Analouge {{voiceCompAnalouge}} x $ 39.95</span></td>
        <td class="tdnarrow"><span ng-if="voiceCompAnalouge>0">{{voiceCompAnalouge * 39.95}}</span></td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompBri[index]>=0">
        <td class="tdwide" >Office BRI</td>
        <td class="tdwide">{{ngDialogData.proposalData.voiceCompBri[index]}} x $ 99.95</td>
        <td  class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompBri[index] * 99.95}}</td>
    </tr>

    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompPri[index]>=0">
        <td class="tdwide" >Nexgen Office PRI</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceCompPri[index] == 299.85">10</span>
          <span ng-if="ngDialogData.proposalData.voiceCompPri[index] == 499.85">20</span>
          <span ng-if="ngDialogData.proposalData.voiceCompPri[index] == 699.85">30</span>
        </td>
        <td class="tdnarrow">{{ngDialogData.proposalData.voiceCompPri[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.voiceCompFaxToEmail[index] == true && ngDialogData.proposalData.type.completeOffice == true">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceCompFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceCompFaxQty[index]>0">{{ngDialogData.proposalData.voiceCompFaxQty[index]}} x 9.95</td>
        <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceCompFaxQty[index]>0">{{ngDialogData.proposalData.voiceCompFaxQty[index] * 9.95}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompDID[index]>=0">
        <td class="tdwide">Direct in Dials</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceCompDID[index] == 0">0 x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceCompDID[index] == 49.95">100 x DID</span>
        </td>
        <td class="tdnarrow">{{ngDialogData.proposalData.voiceCompDID[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompAnalougeDis[index]>0">
        <td class="tdwide">Analogue Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">${{ngDialogData.proposalData.voiceCompAnalougeDis[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompBriDis[index]>0">
        <td class="tdwide">BRI Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompBriDis[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompPriDis[index]>0">
        <td class="tdwide">PRI Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompPriDis[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompCallDis[index]>0" ng-repeat-end>
        <td class="tdwide">Call Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompCallDis[index]}}</td>
    </tr>
    <!-- End of Complete Office -->
    <!-- Start of Solution Cap -->
    <tr ng-if="ngDialogData.proposalData.type.voiceUt== true" ng-repeat-start="(index, voiceUntimedChannel) in ngDialogData.proposalData.voiceUntimedChannel" style="background: gray">
        <td class="tdwide"><b>Solution Cap</b></td>
        <td class="tdwide">
            <span ng-if="voiceUntimedChannel == 199">3 Channels</span>
            <span ng-if="voiceUntimedChannel == 259">4 Channels</span>
            <span ng-if="voiceUntimedChannel == 319">5 Channels</span>
            <span ng-if="voiceUntimedChannel == 379">6 Channels</span>
            <span ng-if="voiceUntimedChannel == 439">7 Channels</span> 
            <span ng-if="voiceUntimedChannel == 499">8 Channels</span>
            <span ng-if="voiceUntimedChannel == 559">9 Channels</span>
            <span ng-if="voiceUntimedChannel == 619">10 Channels</span>
            <span ng-if="voiceUntimedChannel == 679">11 Channels</span> 
            <span ng-if="voiceUntimedChannel == 739">12 Channels</span>
            <span ng-if="voiceUntimedChannel == 799">13 Channels</span>
            <span ng-if="voiceUntimedChannel == 859">14 Channels</span> 
            <span ng-if="voiceUntimedChannel == 919">15 Channels</span>
            <span ng-if="voiceUntimedChannel == 979">16 Channels</span>
            <span ng-if="voiceUntimedChannel == 1039">17 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1099">18 Channels</span>
            <span ng-if="voiceUntimedChannel == 1159">19 Channels</span>
            <span ng-if="voiceUntimedChannel == 1219">20 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1279">21 Channels</span>
            <span ng-if="voiceUntimedChannel == 1339">22 Channels</span>
            <span ng-if="voiceUntimedChannel == 1399">23 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1459">24 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1519">25 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1579">26 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1639">27 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1699">28 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1759">29 Channels</span> 
            <span ng-if="voiceUntimedChannel == 1819">30 Channels</span> 
        </td>
        <td class="tdnarrow">
            {{voiceUntimedChannel}}
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceUt == true">
        <td class="tdwide">Direct in Dial</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 14.95">10x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 24.95">50x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 34.95">100x DID</span>
        </td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceUntimedDID[index]}}
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceUt == true && proposalData.voiceUntimedFaxToEmail[index]">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceUntimedFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceUntimedFaxQty[index]>0">">{{ngDialogData.proposalData.voiceUntimedFaxQty[index]}}  x 9.95</td>
        <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceUntimedFaxQty[index]>0">{{ngDialogData.proposalData.voiceUntimedFaxQty[index] * 9.95}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceUt == true && ngDialogData.proposalData.bFUntimedDiscount[index]>0" ng-repeat-end>
        <td class="tdwide">Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bFUntimedDiscount[index]}}</td>
    </tr>
    <!-- End of Solution Cap -->
    <!-- Start of Solution Standard -->
    <tr  ng-if="ngDialogData.proposalData.type.voiceSolution==true" ng-repeat-start="(index, voiceStdPrice) in ngDialogData.proposalData.voiceSolutionChannel" style="background: gray">
        <td class="tdwide"><b>Solution Standard</b></td>
        <td class="tdwide">
            <span ng-if="voiceStdPrice == 149">3 Channels</span>
            <span ng-if="voiceStdPrice == 159">4 Channels</span>
            <span ng-if="voiceStdPrice == 169">5 Channels</span>
            <span ng-if="voiceStdPrice == 179">6 Channels</span>
            <span ng-if="voiceStdPrice == 189">7 Channels</span>
            <span ng-if="voiceStdPrice == 199">9 Channels</span>
            <span ng-if="voiceStdPrice == 209">9 Channels</span>
            <span ng-if="voiceStdPrice == 219">10 Channels</span>
            <span ng-if="voiceStdPrice == 229">11 Channels</span>
            <span ng-if="voiceStdPrice == 239">12 Channels</span>
            <span ng-if="voiceStdPrice == 249">13 Channels</span>
            <span ng-if="voiceStdPrice == 259">14 Channels</span>
            <span ng-if="voiceStdPrice == 269">15 Channels</span>
            <span ng-if="voiceStdPrice == 279">16 Channels</span>
            <span ng-if="voiceStdPrice == 289">17 Channels</span>
            <span ng-if="voiceStdPrice == 299">18 Channels</span>
            <span ng-if="voiceStdPrice == 309">19 Channels</span>
            <span ng-if="voiceStdPrice == 319">20 Channels</span>
            <span ng-if="voiceStdPrice == 329">21 Channels</span>
            <span ng-if="voiceStdPrice == 339">22 Channels</span>
            <span ng-if="voiceStdPrice == 349">23 Channels</span>
            <span ng-if="voiceStdPrice == 359">24 Channels</span>
            <span ng-if="voiceStdPrice == 369">25 Channels</span>
            <span ng-if="voiceStdPrice == 379">26 Channels</span>
            <span ng-if="voiceStdPrice == 389">27 Channels</span>
            <span ng-if="voiceStdPrice == 399">28 Channels</span>
            <span ng-if="voiceStdPrice == 409">29 Channels</span>
            <span ng-if="voiceStdPrice == 419">30 Channels</span>                                              
        </td>
        <td class="tdnarrow">$ {{voiceSolutionChannel}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceSolution==true">
        <td class="tdwide">Direct in Dials</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 14.95">10x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 24.95">50x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 34.95">100x DID</span>
        </td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceSolutionDID[index]}}</td>
        
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true && ngDialogData.proposalData.voiceSolutionFaxToEmail[index]==true">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceSolutionFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceSolutionFaxQty[index]>0">{{ngDialogData.proposalData.voiceSolutionFaxQty[index]}} x $ 9.95</td>
        <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceSolutionFaxQty[index]>0">$ {{ngDialogData.proposalData.voiceSolutionFaxQty[index] * 9.95}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true && ngDialogData.proposalData.bFSolutionCallDiscount[index]>0">
        <td class="tdwide">Plan Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bFSolutionCallDiscount[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true && ngDialogData.proposalData.bFSolutionDiscount[index]>0" ng-repeat-end>
        <td class="tdwide">Call Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bFSolutionDiscount[index]}}</td>
    </tr>
    <!-- End of Solution Standard --> 
    <!-- Start of Essential Cap -->
    <tr  ng-if="ngDialogData.proposalData.type.voiceEssential== true" ng-repeat-start="(index, vEssentialChannel) in ngDialogData.proposalData.voiceEssentialChannel" style="background: gray">
        <td class="tdwide"><b>Essential Cap<b></td>
        <td class="tdwide">
            <span ng-if="vEssentialChannel == 196">4 Channels</span>
            <span ng-if="vEssentialChannel == 294">6 Channels</span>
            <span ng-if="vEssentialChannel == 392">8 Channels</span>
            <span ng-if="vEssentialChannel == 490">10 Channels</span>
            <span ng-if="vEssentialChannel == 588">12 Channels</span>
            <span ng-if="vEssentialChannel == 686">14 Channels</span>
            <span ng-if="vEssentialChannel == 784">16 Channels</span>
            <span ng-if="vEssentialChannel == 882">18 Channels</span>
            <span ng-if="vEssentialChannel == 980">20 Channels</span>                                              
        </td>
        <td class="tdnarrow">$ {{vEssentialChannel}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
        <td class="tdwide">Direct in Dials</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 9.99">10x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 15.99">20x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 19.99">50x DID</span>
          <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 25.99">100x DID</span>                                                
        </td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceEssentialDID[index]}}</td>
        
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true && ngDialogData.proposalData.bECapDiscount[index]>0" >
        <td class="tdwide">Plan Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.bECapDiscount[index]}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
        <td class="tdwide">Monthly Midband Plans</td>
        <td class="tdwide">{{ngDialogData.proposalData.ipMidbandPlansVoice[index].description}}</td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.ipMidbandPlansVoice[index].price}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
        <td class="tdwide">Midband Download Allowance</td>
        <td class="tdwide">{{ngDialogData.proposalData.ipMidbandDownloadVoice[index].description}}</td>
        <td class="tdnarrow">${{ngDialogData.proposalData.ipMidbandDownloadVoice[index].price}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true && ngDialogData.proposalData.ipMidbandDis[index]>0" ng-repeat-end>
        <td class="tdwide">Plan Discount </td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.ipMidbandDis[index]}}</td>
    </tr>
    <!-- End of Essential Cap -->
<!-- DATA -->
    <!-- start of Data -->
    <tr ng-show="ngDialogData.proposalData.type.adsl2 == true|| 
          ngDialogData.proposalData.type.nbnUnlimitedPlans == true || 
          ngDialogData.proposalData.type.ipMidband == true  || 
          ngDialogData.proposalData.type.ipMidbandUnli == true || 
          ngDialogData.proposalData.type.ethernet == true || 
          ngDialogData.proposalData.type.fibre == true">
        <td rowspan="45"  class="rotate size" >&nbsp;&nbsp;&nbsp;&nbsp;Data&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <!-- Adsl -->
    <tr ng-show="ngDialogData.proposalData.type.adsl2== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.adsl2">ADSL 2+</td>
        <td class="tdwide" ng-repeat="adsl2Plans in ngDialogData.proposalData.adsl2Plans">
            {{adsl2Plans.details}}
        </td>
        <td class="tdnarrow" ng-repeat="adsl2Plans in ngDialogData.proposalData.adsl2Plans">
            ${{adsl2Plans.price}}
        </td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
        <td class="tdwide">Plan Discount</td>
        <td class="tdwide" ng-repeat="adsl2Dis in ngDialogData.proposalData.adsl2Dis">${{adsl2Dis}}</td>
        <td class="tdnarrow" ng-repeat="adsl2Dis in ngDialogData.proposalData.adsl2Dis">${{adsl2Dis}}</td>                      
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.adsl2 == true">
        <td class="tdwide" ng>Office Analogue $39.95 p/mth per line</td>
        <td class="tdwide" ng-repeat="(index, voiceCompAnalougeDSL) in ngDialogData.proposalData.voiceCompAnalougeDSL">{{voiceCompAnalougeDSL}} x 39.95</td>
        <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDSL) in ngDialogData.proposalData.voiceCompAnalougeDSL">${{voiceCompAnalougeDSL * 39.95}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
        <td class="tdwide" >Analogue Discount </td>
        <td class="tdwide"  ng-repeat="(index, voiceCompAnalougeDisDSL) in ngDialogData.proposalData.voiceCompAnalougeDisDSL">${{voiceCompAnalougeDisDSL}}</td>
        <td  class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDisDSL) in ngDialogData.proposalData.voiceCompAnalougeDisDSL">${{voiceCompAnalougeDisDSL}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of ADSL -->
    <!-- Start of NBN Unlimited -->
    <tr  ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans">NBN Unlimited Plans</td>
        <td class="tdwide" ng-repeat="(index, UnlimitedPlans) in ngDialogData.proposalData.UnlimitedPlans">{{UnlimitedPlans.inclusion}}</td>
        <td class="tdnarrow" ng-repeat="(index, UnlimitedPlans) in ngDialogData.proposalData.UnlimitedPlans">${{UnlimitedPlans.price}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
        <td class="tdwide">Monthly Plan Discount</td>
        <td class="tdwide" ng-repeat="(index, nbnUnlimitedDis) in ngDialogData.proposalData.nbnUnlimitedDis">${{nbnUnlimitedDis}}</td>
        <td class="tdnarrow" ng-repeat="(index, nbnUnlimitedDis) in ngDialogData.proposalData.nbnUnlimitedDis">${{nbnUnlimitedDis}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
        <td class="tdwide" ng>Analogue ATA Line $39.95 p/mth per line</td>
        <td class="tdwide" ng-repeat="(index, voiceCompAnalougeNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeNBNUnli">{{voiceCompAnalougeNBNUnli}} x $39.95</td>
        <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeNBNUnli">${{voiceCompAnalougeNBNUnli * 39.95}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
        <td class="tdwide">Analogue ATA discount Monthly</td>
        <td class="tdwide" ng-repeat="(index, voiceCompAnalougeDisNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli">${{voiceCompAnalougeDisNBNUnli}}</td>
        <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDisNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli">${{voiceCompAnalougeDisNBNUnli}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of NBN Unlimited -->
    <!-- Start of Midband Monthly -->
    <tr  ng-show="ngDialogData.proposalData.type.ipMidband== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.ipMidband">Monthly Plans</td>
        <td class="tdwide" ng-repeat="(index, ipMidbandPlans) in ngDialogData.proposalData.ipMidbandPlans">{{ipMidbandPlans.description}}</td>
        <td class="tdnarrow" ng-repeat="(index, ipMidbandPlans) in ngDialogData.proposalData.ipMidbandPlans">${{ipMidbandPlans.price}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
        <td class="tdwide">Download Allowance</td>
        <td class="tdwide" ng-repeat="(index, ipMidbandDownload) in ngDialogData.proposalData.ipMidbandDownload">{{ipMidbandDownload.description}}</td>
        <td class="tdnarrow" ng-repeat="(index, ipMidbandDownload) in ngDialogData.proposalData.ipMidbandDownload">${{ipMidbandDownload.price}}</td>
    </tr>

    <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
        <td class="tdwide">Discount </td>
        <td class="tdwide" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">${{ipMidbandDis}}</td>
        <td class="tdnarrow" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">${{ipMidbandDis}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of Midband Monthly -->
    <!-- Start of Midband Unlimited -->
    <tr ng-show="ngDialogData.proposalData.type.ipMidbandUnli== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.ipMidbandUnli">Monthly Plans</td>
        <td class="tdwide" ng-repeat="(index, ipMidbandUnliPlans) in ngDialogData.proposalData.ipMidbandUnliPlans">{{ipMidbandUnliPlans.description}}
        </td>
        <td class="tdnarrow" ng-repeat="(index, ipMidbandUnliPlans) in ngDialogData.proposalData.ipMidbandUnliPlans">${{ipMidbandUnliPlans.price}}
        </td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.ipMidbandUnli == true">
        <td class="tdwide">Discount</td>
        <td class="tdwide" ng-repeat="(index, ipMidbandUnliDis) in ngDialogData.proposalData.ipMidbandUnliDis">${{ipMidbandUnliDis}}
        </td>
        <td class="tdnarrow" ng-repeat="(index, ipMidbandUnliDis) in ngDialogData.proposalData.ipMidbandUnliDis">${{ipMidbandUnliDis}}
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.ipMidbandUnli == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of Midband Unlimited -->
    <!-- Start of Ehternet Unlimited(EFM) -->
    <tr  ng-show="ngDialogData.proposalData.type.ethernet== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.ethernet">Ehternet Unlimited(EFM)</td>
        <td class="tdwide" ng-repeat="(index, ethernetPlans) in ngDialogData.proposalData.ethernetPlans">{{ethernetPlans.description}}</td>
        <td class="tdnarrow" ng-repeat="(index, ethernetPlans) in ngDialogData.proposalData.ethernetPlans">${{ethernetPlans.price}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.ethernet == true">
        <td class="tdwide" >Discount</td>
        <td class="tdwide"  ng-repeat="(index, ethernetDis) in ngDialogData.proposalData.ethernetDis">${{ethernetDis}}</td>
        <td class="tdnarrow"  ng-repeat="(index, ethernetDis) in ngDialogData.proposalData.ethernetDis">${{ethernetDis}}</td>
    </tr>
    
    <tr ng-if="ngDialogData.proposalData.type.ethernet == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of Ehternet Unlimited(EFM) -->      
    <!-- Start of Fibre Unlimited -->
    <tr  ng-show="ngDialogData.proposalData.type.fibre== true">
        <td class="tdwide" ng-show="ngDialogData.proposalData.type.fibre">Fibre Unlimited(EFM)</td>
        <td class="tdwide" ng-repeat="(index, fibreUtPlans) in ngDialogData.proposalData.fibreUtPlans">{{fibreUtPlans.description}}</td>
        <td class="tdnarrow" ng-repeat="(index, fibreUtPlans) in ngDialogData.proposalData.fibreUtPlans">${{fibreUtPlans.price}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.fibre == true">
        <td class="tdwide" >Discount</td>
        <td class="tdwide" ng-repeat="(index, fibreDis) in ngDialogData.proposalData.fibreDis">${{fibreDis}}</td>
        <td class="tdnarrow"  ng-repeat="(index, fibreDis) in ngDialogData.proposalData.fibreDis">${{fibreDis}}</td>
    </tr>
    
    <tr ng-if="ngDialogData.proposalData.type.fibre == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- End of Fibre Unlimited -->     
    <!-- End of Data --> 

<!-- Mobile -->
    <!-- start of Mobile -->
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true|| 
          ngDialogData.proposalData.type.telstraWireless == true || 
          ngDialogData.proposalData.type.mobileCap == true  || 
          ngDialogData.proposalData.type.mobileUt == true || 
          ngDialogData.proposalData.type.mobileWireless == true">
        <td rowspan="45"  class="rotate size" >&nbsp;&nbsp;Mobile &nbsp;</td>
    </tr>
    <!-- Telstra 4G -->
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed== true">
        <td class="tdwide"  ng-show="ngDialogData.proposalData.type.telstraUntimed">Rate Plan</td>
        <td class="tdwide" >
            <p ng-repeat="telstra in ngDialogData.proposalData.telstra">
            <span ng-if="telstra == 49">$49</span>
            <span ng-if="telstra == 69">$69</span>
            <span ng-if="telstra == 79">$79</span>
            <span ng-if="telstra == 89">$89</span>
          </p>
        </td>
        <td class="tdnarrow"  ng-show="ngDialogData.proposalData.type.telstraUntimed">
            <p ng-repeat="telstra in ngDialogData.proposalData.telstra">
            <span ng-if="telstra == 49">$49</span>
            <span ng-if="telstra == 69">$69</span>
            <span ng-if="telstra == 79">$79</span>
            <span ng-if="telstra == 89">$89</span>
          </p>
        </td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed== true">
        <td class="tdwide"  ng-show="ngDialogData.proposalData.type.telstraUntimed">Data Bolt-on</td>
        <td class="tdwide" >
          <p ng-repeat="boltOn in ngDialogData.proposalData.boltOn">
            <span ng-if="boltOn == 9.89">1 GB</span>
            <span ng-if="boltOn == 31.99">5 GB</span>
          </p>
        </td>
        <td class="tdnarrow" >
          <p ng-repeat="boltOn in ngDialogData.proposalData.boltOn">
            <span ng-if="boltOn == 9.89">$9.89</span>
            <span ng-if="boltOn == 31.99">$31.99</span>
          </p>
        </td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
        <td class="tdwide" >Telstra 4G Plan Discount</td>
        <td class="tdwide" >${{ngDialogData.proposalData.telstraUntimedDis}}</td>
        <td class="tdnarrow" >${{ngDialogData.proposalData.telstraUntimedDis}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.telstraUntimed == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- Telstra Wireless -->
    <tr ng-show="ngDialogData.proposalData.type.telstraWireless == true">
        <td class="tdwide" >Telstra Wireless Monthly Plans</td>
        <td class="tdwide"  ng-repeat="telstraWirelessPlans in ngDialogData.proposalData.telstraWirelessPlans">{{telstraWirelessPlans.description}}</td>
        <td class="tdnarrow"  ng-repeat="telstraWirelessPlans in ngDialogData.proposalData.telstraWirelessPlans">${{telstraWirelessPlans.price}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.telstraWireless == true">
        <td class="tdwide"  ng>Discount</td>
        <td class="tdwide"  ng-repeat="(index, telstraWirelessDis) in ngDialogData.proposalData.telstraWirelessDis">{{telstraWirelessDis}}</td>
        <td class="tdnarrow"  ng-repeat="(index, telstraWirelessDis) in ngDialogData.proposalData.telstraWirelessDis">{{telstraWirelessDis}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.telstraWireless == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
   
    <!-- Mobile Mega Cap -->
    <tr ng-show="ngDialogData.proposalData.type.mobileCap== true">
        <td class="tdwide"  ng-show="ngDialogData.proposalData.type.mobileCap">Rate Plan</td>
        <td class="tdwide" >
            <p ng-repeat="megaRate in ngDialogData.proposalData.megaRate">
            <span ng-if="megaRate == 39">500 MB</span>
            <span ng-if="megaRate == 49">2 GB</span>
            <span ng-if="megaRate == 59">3 GB</span>
          </p>
        </td>
        <td class="tdnarrow" >
            <p ng-repeat="megaRate in ngDialogData.proposalData.megaRate">
            <span ng-if="megaRate == 39">$39</span>
            <span ng-if="megaRate == 49">$49</span>
            <span ng-if="megaRate == 59">$59</span>
          </p>
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.mobileCap == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.mobileCap == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <!-- Mobile Untimed -->
    <tr ng-show="ngDialogData.proposalData.type.mobileUt == true">
        <td class="tdwide" >Mobile Untimed</td>
        <td class="tdwide" >${{ngDialogData.proposalData.mobileUtDis}}</td>
        <td class="tdnarrow" >${{ngDialogData.proposalData.mobileUtDis}}</td>
    </tr>
    <!-- Wireless Plan  -->
    <tr ng-show="ngDialogData.proposalData.type.mobileWireless == true">
        <td class="tdwide" >Wireless Plan</td>
        <td class="tdwide"  ng-repeat="mobileWirelessPlans in ngDialogData.proposalData.mobileWirelessPlans">{{mobileWirelessPlans.description}}</td>
        <td class="tdnarrow"  ng-repeat="mobileWirelessPlans in ngDialogData.proposalData.mobileWirelessPlans">${{mobileWirelessPlans.price}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.mobileWireless == true">
        <td class="tdwide" >Discount</td>
        <td class="tdwide"  ng-repeat="mobileWirelessDis in ngDialogData.proposalData.mobileWirelessDis">${{mobileWirelessDis}}</td>
        <td class="tdnarrow"  ng-repeat="mobileWirelessDis in ngDialogData.proposalData.mobileWirelessDis">${{mobileWirelessDis}}</td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr style="background:gray;font-weight: bold;">
        <td></td>
        <td class="tdwide">Total:</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.sum}}</td>
      </tr>
  </table>
  <br />
  <p>* Please note that these calculations are exclusive of GST</p>
  <p>* based on telephone bill provided and are to be used only as a guide</p>
  <br />
  <table border="1" class="summary">
    <tr ng-if="ngDialogData.proposalData.billingType=='rental'">
      <td>
        Monthly Equipment Rental {{ngDialogData.proposalData.term}} months
      </td>
      <td>
        $ {{roundVal(ngDialogData.proposalData.leaser)}}
      </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.billingType=='leasing'">
      <td>
        Monthly Equipment Rental {{ngDialogData.proposalData.term}} months
      </td>
      <td>
        $ {{roundVal(ngDialogData.proposalData.leaser)}}
      </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.billingType=='outright'">
      <td>
        Outright Equipment Cost
      </td>
      <td>
        $ {{roundVal(ngDialogData.proposalData.leaser)}}
      </td>
    </tr>
  </table>
  <htmlpagefooter name="pageFooter">
    <table width="100%">
      <tr>
        <td align="left">
          <b>SYDNEY</b>: Level 2, 71 York Street Sydney, NSW 2000<br />
          <b>MELBOURNE</b>: Level 6, 606 St Kilda Rd Melbourne, VIC 3004<br />
          <b>BRISBANE</b>: Level 2/5 Cribb St Milton QLD 4064 <br />
          Tel: 1300 02 04 02 | Fax: 1300 02 88 78 | support@nexgen.com.au | www.nexgen.com.au
        </td>
        <td align="right">
          <img src="../../assets/images/proposal/footer.png" />
        </td>
      </tr>
    </table>
  </htmlpagefooter>
</div>


