
<link href = "assets/css/pages.css" rel='stylesheet' type='text/css'>
<page size="A4" class="proposal-cover">
  <div style="height:800px"></div>
  <div class="inputs">
    <label>Date: {{ngDialogData.proposalData.datePrepared}}</label><br>
    <label>Prepared by: {{ngDialogData.proposalData.preparedBy}}</label>
  </div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-2">
  <div style="height:436px"></div>
    <div class="fonted">
      <span style="font-size: 16px">Corporate Overview</span><br> <br>
    </div>
    <div class="lightfonted">
      <span style="font-size: 12px">Nexgen Australia designs tailored solutions specific to your business needs, giving your business practical and<br> innovative products to assist and improve your business' day to day tasks.<br> <br>Our aim "is to deliver highest quality products and unparalleled custormer service". Our mission is "to deliver<br>the latest technology, improving your busness efficiences, whilst offering savings that make your new<br> equipment affordable". Our focus at Nexgen is to deliver a unified communications solution. This includes<br>Telephony hardware and services, Multifunction Copiers, Security Surveillance and video conferencing. The brands <br>Nexgen represents are market leaders in their fields and are built on quality and reliability.</span>
    </div>
    <div style="height:44px"></div>
    <div class="fonted">
      <span>Current Situation</span>
    </div>
    <div style="height:135px" class="fonted" ng-bind-html="ngDialogData.proposalData.currentHardware"></div>
    <div class="fonted">
      <span>Current Services Situation</span>
    </div>
    <div style="height:135px" class="fonted" ng-bind-html="ngDialogData.proposalData.currentServices"></div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-3">
  <div style="height:328px"></div>
  <div class="boldheader">
    EQUIPMENT OVERVIEW
  </div>
  <div style="height:480px;margin-left:34px">
    <ul style="margin-left:34px;margin-top:34px">
      <li ng-repeat="(index,option) in ngDialogData.proposalData.schOption track by $index">
          {{option.item}}<br /><img ng-if="option.img1!=''" src="/{{option.img1}}" width="400px" height="200px" />
      </li>
    </ul>
  </div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-4">
  <div style="height: 100px"></div>
<div style="margin-left: 26px">
  <div class="boldheader">
    COSTS ANALYSIS
  </div>
  <div style="height:37px"></div>
  <div>
    <table>
      <tr>
        <th colspan="4">Service Summary</th>
      </tr>
      <tr>
        <th colspan="2">Service Description</th>
        <th>Particulars</th>
        <th>Sub-Total</th>
      </tr>
      <tr ng-if="ngDialogData.proposalData.type.voiceCap == true|| 
          ngDialogData.proposalData.type.focusStandard == true || 
          ngDialogData.proposalData.type.completeOffice == true  || 
          ngDialogData.proposalData.type.voiceUt == true || 
          ngDialogData.proposalData.type.voiceSolution == true || 
          ngDialogData.proposalData.type.voiceEssential == true">
        <td rowspan="{{ngDialogData.proposalData.landlineNumRow}}"  class="rotate size" >Landline</td>
      </tr>
      <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceStd" ng-if="ngDialogData.proposalData.type.voiceCap == true" style="background: gray">
        <td class="tdwide"><b>NBF Cap</b></td>
        <td class="tdwide">
            <span ng-if="voiceStd == 495">5</span>
            <span ng-if="voiceStd == 594">6</span>
            <span ng-if="voiceStd == 792">8</span>
            <span ng-if="voiceStd == 990">10</span>
            <span ng-if="voiceStd == 1188">12</span>
            <span ng-if="voiceStd == 1106">14</span>
            <span ng-if="voiceStd == 1264">16</span>
            <span ng-if="voiceStd == 1422">18</span>
            <span ng-if="voiceStd == 1580">20</span>
            <span ng-if="voiceStd == 1975">25</span>
            Channels
        </td>
        <td class="tdnarrow"> $ {{voiceStd | number:2}}
        </td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceCap == true" >
        <td class="tdwide">Direct in Dial</td>
        <td class="tdwide">
          <span ng-if="ngDialogData.proposalData.dID[index] == 9.99">10 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 15.99">20 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 19.99">50 x DID</span>
          <span ng-if="ngDialogData.proposalData.dID[index] == 25.99">100 x DID</span>
        </td>
        <td class="tdnarrow">$ {{ngDialogData.proposalData.dID[index] | number:2}}</td>        
    </tr>
    <tr ng-if="ngDialogData.proposalData.type.voiceCap == true && ngDialogData.proposalData.voiceFaxToEmail[index]==true">
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">Fax to Emails</td>
        <td class="tdwide" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">{{ngDialogData.proposalData.voiceFaxQty[index]}} x 9.95</td>
        <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">{{ngDialogData.proposalData.voiceFaxQty[index] * 9.95  | number:2}}</td>
    </tr>
    <tr ng-if="ngDialogData.proposalData.bFCapDiscount[index]>0 && ngDialogData.proposalData.type.voiceCap == true" ng-repeat-end>
        <td class="tdwide">Maximum Discount</td>
        <td class="tdwide"></td>
        <td class="tdnarrow">${{ngDialogData.proposalData.bFCapDiscount[index] | number:2}}</td>
    </tr>
    <!-- End of NBF Cap -->
    </table>
  </div>
  <div style="height: 66px"></div>
  <div>
    <table class="table">
      <tr>
        <th style="width:356px"> </th>
        <th> </th>
        <th style="width: 50px"> </th>
        <th> </th>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
  </table>
</div>
</div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-5">
  <div style="margin-left: 26px"> 
    <div style="height:220px"></div>
    <div class="boldheader">
      PROPOSED PRICING
    </div>
    <div style="height:20px"></div>
    <div class="regfonted">
      <span style="font-size: 12px">
        PURCHASE OFFER
      </span><br>
      <div class="regulartext">
        Equipment Lease Option;
      </div>
      <div style="height: 20px"></div>
      <div>
        <table style="margin-left: -3px">
          <tr style="background-color: #b4b4b4">
            <td></td>
            <td></td>
          </tr>
          <tr style="background-color: #d2d2d2">
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div style="height: 20px"></div>
      <div class="regulartext">
        <span style="margin-left: 25px">Terms of Engagement Please note:-</span>
        <div style="height: 19px">
          <ul style="margin-left: -28px; line-height: 1.35">
            <li>The above prices are exclusive of GST</li>
            <li>50% deposit is payable on order, balance payable on day of installation.</li>
            <li>Payment Options cheque, direct deposit & Visa/Master card(a 2% surcharge applicable).</li>
            <li>The monthly rental/ lease, Maintenance agreement and telecommunications phone accounts must be paid<br><span style="margin-left: -16px;">by Direct Debit from your nominated account.</span></li>
            <li>The total amount payable over the term is the specified monthly lease/ rental cost times the term of the <br><span style="margin-left: -16px;">agreement.</span></li>
            <li>Oversees items will incur a shipping fee.</li>
            <li>Generally 4 weeks from reciept to order(subect to confirmation).</li>
            <li>Ownership passes onto the Customer on full payment</li>
            <li>Risk is transferred to the customer upon delivery onsite. Cancellation of order the Customer is liable to<br><span style="margin-left: -16px;">assume the following cost(s);Within 7 days of order: Work undertaken incl. system licensing & preparation for</span><br><span style="margin-left: -16px;">installation. After 7 days of order: Forfeit of initial deposit and any other additional fees incurred.</span></li>
            <li>Post installation onsite services are charged on a FEE FOR SERVICE basis at standard rates:</li>
            <li>$180.00 Call-Out including 30 min. labour, additional onsite at $25 / 15 minutes (Ex GST).</li>
            <li>Advanced IT Servces related to commissioning of your network for both IP and Software complications are<br><span style="margin-left: -16px;">avalable on the day of installation.</span></li>
            <li>Nexgen requires High Broadband access to provide the highest level of support.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-6">
<div style="height: 90px"></div>
<div style="margin-left: 26px">
  <div class="boldheader">DISCOUNTS</div>
</div>
<div style="height:60px"></div>
<div>
  <table style="width:646px;height: 144px;margin-left: 80px">
    <tr style="background-color: #b4b4b4">
      <td></td>
      <td></td>
    </tr>
    <tr style="background-color: #d2d2d2 ;">
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
</page>
<p style="page-break-before: always"></p>
<page size="A4" class="page-7">
  <div style="height:242px"></div>
  <div class="regfonted"> 
    <span style="margin-left:10px; font-size: 16px">
      Who We Are
    </span>
  </div>
  <br>
  <div class="regulartext1">
    <span class="information">
      Nexgen Australia is a leading hardware integration specialist with over 10 years' experience in providing</span><br><span class="information">
    technology and solutions to improve the efficiency of businesses across Australia.
    </span >      
  </div>
  <br>
  <div class="regulartext1">
    <span class="information">
      Our selected partners, is the key to keeping your business ahead of competition. The Nexgen solution provides a</span><br><span class="information">result which will enable your company to produce a competitive and personalised service for your customers.</span><br><span class="information">Nexgen Australia headquarters are in Sydney and Brisbane, and we operate across states.
    </span>
  </div>
  <div style="height:27px"></div>
  <div class="regfonted"> 
    <span style="margin-left:10px; font-size: 16px">
      What We Do
    </span>
  </div>
  <br>
  <div class="regulartext1">
    <span class="information">
      Our team of creative thinking and highly trained professionals thoroughly assess your existing infrastracture and</span><br><span class="information">recommend practical, cost-effective technology which provides the most suitable solutions for your business.</span><br><span class="information" ">Technical excellence is the cornerstone of out business, and we maintain the highest level of technical</span><br><span class="information">accreditations with the industry leading technology partners.
    </span>     
  </div>
  <br>
  <div class="regulartext1">
    <span class="information">We understand that as the business economy is becoming increasingly competitive, service is of paramount</span><br><span class="information">importance. That is why Nexgen Australia's decision to operate and maintain our clients from Australia, with our</span><br><span class="information">highly skilled and dedicated team has set us above our competitors.</span>
  </div>
  <br>
  <div class="regulartext1">
    <span class="information">
      Nexgen Australia's departments accomodates for small, medium and corporate business for all industry types,</span><br><span class="information">ensuring you have peace of mind. Our Customer Support operates 7 days a week, 24 hours a day.</span>
  </div>

</page>
  <p style="page-break-before: always"></p>
<page size="A4" class="page-8">
  <div style="height:447px;"></div>
  <div class="regfonted">
    <span class="information">Push the boundaries of your business further by preparing for the future in Australian communication. Get</span><br><span class="information">connected to the National Broadband Network through Nexgen.</span><br><span class="information">The National Broadband Network (NBN) is one of the largest projects currently in development in Australia.It offers</span><br><span class="information">Australians faster, more reliable broadband connections through a mix of advanced technologies. More and more</span><br><span class="information">areas are becoming uquipped and ready for NBN - it's time your business takes the next step in communications</span><br><span class="information">technology as well.</span>
  </div><br>
  <div class="regfonted">
    <span class="information">Get Fast, Reliable and Unlmited Internet Connections with NBN</span><br><span class="information">Nexgen offers you a doorway to the massive capabilities and benefits that NBN can bring. With availability and</span><br><span class="information">internet speeds unlke those offered by other network connections, NBN definitely gives businesses a strong suite of</span><br><span class="information">advantages. Faster, more consistent connections mean more fluid business processes and transactions</span><br><span class="information">conducted online, faster loading times that save you time and money, and flexibility and confidence in offering</span><br><span class="information">online services.</span>
  </div>
  <br>
  <div class="regfonted">
    <span class="information">Get Connected to NBN, Get Nexgen Today</span><br><span class="information">NBN is the evolution of communication in Australia. Make sure your business is and stays in the forefont by being</span><br><span class="information">one of the first to take action and get access to NBN. Contact Nexgen today for total and reliable assistance with</span><br><span class="information">your transition to NBN. We offer cost-effective, Contact Nexgen today for total and reliable assistance with </span><br><span class="information">your transition to NBN. We offer cost-effective, customised plans and packages to suit any and every business size</span><br><span class="information">and need.</span>
  </div>
</page>


