
<style>
    .fixed{
        table-layout: fixed;
    }
    @page {
        sheet-size : A4;
        margin: 0%;
    }
    @page cover {
         margin-header:0mm;

    }
    div.cover {
        page-break-before: right;
        font-family: 'Poppins', sans-serif;
        page: cover;
    }
    @page pages {
        odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
        font-family: 'Poppins', sans-serif;

    }
    div.pages {
        page: pages;
        font-family: 'Poppins', sans-serif;
    }
    .table-box{
    	background-color: #fff;
    }
    .table-rounded {
    	background-color: #fff;
    	border-color: gray;
	    -webkit-border-top-left-radius: 400px;
		-webkit-border-bottom-left-radius: 400px;
		-moz-border-radius-topleft: 400px;
		-moz-border-radius-bottomleft: 400px;
		border-top-left-radius: 400px;
		border-bottom-left-radius: 400px;
	}
	

</style>
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<link href = "assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>

<div class="converProposal configapp-proposal pageBreaker" style="height:100%;">
    <div id="anchor" class="blank-div" style="height:715px; margin-bottom: -200px; "></div>
    <table style="margin-left: 7%;" class="tableone">
        <tr > 
            <td style="text-align:  left;font-family: 'Poppins', sans-serif;">Name</td>
            <td style="width: 50px">&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td style="text-align:  left;">{{ ngDialogData.proposalData.tradingName }}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Contact Number</td>
            <td style="width: 50px">&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td style="text-align:  left;">{{ ngDialogData.proposalData.contactPerson }}</td>
        </tr>
        <tr>
            <td style="text-align:  left;">Email</td>
            <td style="width: 50px">&nbsp;:&nbsp;&nbsp;&nbsp;</td>
            <td style="text-align:  left;">{{ ngDialogData.proposalData.emailAddress }}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<pagebreak>
<div class="pages text-grey pageBreaker configapp-slide5" ng-repeat="(index,option) in ngDialogData.proposalData.schOption | filter:{state:'!'} | filter:telephone track by $index" >
   <table class="" width="100%">
    <tr>
        <td rowspan="2" style="height: 100%" width="50%">
        	<h2>{{ option.category }}</h2>
        	<p ng-bind-html="option.features"></p>
        </td>
        <td style="height: 50%">
        	<h2 ng-bind-html="option.item"></h2><br>
        	<p ng-bind-html="option.descriptions"></p><br>
        </td style="height: 50%">
    </tr>
    <tr>
        <td>
        	<h2>Hardware Solutions</h2>
        	<p ng-bind-html="option.hardware_solutions"></p></td>
    </tr>
</table>   
</div>
<pagebreak>

<div class="pages text-grey pageBreaker configapp-printer" ng-repeat="(index,option) in ngDialogData.proposalData.schOption | filter:{state:'!'} | filter:printer track by $index" >
	<center><h1>{{ option.category}}</h1></center>
   <table width="100%" style="align-content: center;">
    <tr>
        <td  style="height: 50%" width="50%">
        	<h2 ng-bind-html="option.item"></h2>
        	<p ng-bind-html="option.descriptions"></p>
        </td>
        <td style="height: 50%" width="50%">
        	<h2>Hardware Solution</h2>
        	<p ng-bind-html="option.hardware_solutions"></p>
        </td>
    </tr>
    <tr>
        <td style="height: 50%" width="50%">
        	<img src="http://i.imgur.com/ByTCEg1.png" >
        </td>
        <td style="height: 50%" width="50%">
        	<h2>Hardware Solution</h2>
        	<p ng-bind-html="option.hardware_solutions"></p>
        </td>
    </tr>
</table> 
	<br>
	<br>
    <br>
    <br>  
</div>
<pagebreak>
<div class="pages text-grey pageBreaker configapp-slide5" >
   <table class="tablewide" width="100%" ng-repeat="(index,option) in ngDialogData.proposalData.schOption | filter:{state:'!'} | filter:camera track by $index">
    <tr >
        <td width="40%" >
        </td>
        <td  class="table-rounded" width="10%" style="text-align:center; vertical-align:middle;">
        	<img src="http://i.imgur.com/ByTCEg1.png" width="50px" height="50px" >
        </td>
        <td class="table-box">
        	<h3 ng-bind-html="option.item"></h3>
        	<p style="font-size: 12px" ng-bind-html="option.descriptions"></p>
        	<br>
        </td>
    </tr> 
</table>   
</div>
<pagebreak>
<div class="pages text-grey pageBreaker configapp-billing"  >
<table border="1">
    <tr ng-repeat="(index,option) in ngDialogData.proposalData.schOption | filter:{state:'!'} ">
        <td><p style="font-size: 12px" ng-bind-html="option.item"></p></td>
        <td colspan="2"><p style="font-size: 12px" ng-bind-html="option.item"></p></td>
        <td>${{option.price}}</td> 
    </tr>
    <tr ng-repeat="(index,data) in ngDialogData.proposalData.leaser">
        <td>{{data}}</td>
        <td>{{data.fa}}</td>
        <td>{{data.type}}</td>
        <td>{{data.leaser}}</td>
    </tr>
</table>
<table border="1" class="summary">
                  <!-- start of Landline -->
                  <tr ng-show="ngDialogData.proposalData.type.voiceCap == true|| 
                        ngDialogData.proposalData.type.focusStandard == true || 
                        ngDialogData.proposalData.type.completeOffice == true  || 
                        ngDialogData.proposalData.type.voiceUt == true || 
                        ngDialogData.proposalData.type.voiceSolution == true || 
                        ngDialogData.proposalData.type.voiceEssential == true">
                      <td rowspan="45"  class="rotate size" >Landline</td>
                  </tr>
                  <!-- NBF Cap -->
                  <tr ng-show="ngDialogData.proposalData.type.voiceCap== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.voiceCap">NBF Cap</td>
                      <td class="tdwide" ng-repeat="(index, voiceCh) in ngDialogData.proposalData.voiceStd">
                          <span ng-if="voiceCh == 495">5</span>
                          <span ng-if="voiceCh == 594">6</span>
                          <span ng-if="voiceCh == 792">8</span>
                          <span ng-if="voiceCh == 990">10</span>
                          <span ng-if="voiceCh == 1188">12</span>
                          <span ng-if="voiceCh == 1106">14</span>
                          <span ng-if="voiceCh == 1264">16</span>
                          <span ng-if="voiceCh == 1422">18</span>
                          <span ng-if="voiceCh == 1580">20</span>
                          <span ng-if="voiceCh == 1975">25</span>
                          Channels
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voicePrice) in ngDialogData.proposalData.voiceStd">${{voicePrice}}
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceCap == true">
                      <td class="tdwide">Direct in Dial</td>
                      <td class="tdwide" ng-repeat="(index, didPrice) in ngDialogData.proposalData.dID">
                        <span ng-show="didPrice == 9.99">10 x DID</span>
                        <span ng-show="didPrice == 15.99">20 x DID</span>
                        <span ng-show="didPrice == 19.99">50 x DID</span>
                        <span ng-show="didPrice == 25.99">100 x DID</span>
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, did) in ngDialogData.proposalData.dID">${{did}}</td>
                      
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceCap == true">
                      <td class="tdwide" ng>Fax to Emails</td>
                      <td class="tdwide"><span ng-repeat="(index, voiceFaxQ) in ngDialogData.proposalData.voiceFaxQty">{{voiceFaxQ}} x 9.95</span></td>
                      <td class="tdnarrow"><span ng-repeat="(index, voiceFaxQ) in ngDialogData.proposalData.voiceFaxQty">{{voiceFaxQ * 9.95}}</span></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceCap == true">
                      <td class="tdwide">Maximum Discount</td>
                      <td class="tdwide" ng-repeat="(index, capDiscount) in ngDialogData.proposalData.bFCapDiscount">${{capDiscount}}</td>
                      <td class="tdnarrow" ng-repeat="(index, capDiscount) in ngDialogData.proposalData.bFCapDiscount">${{capDiscount}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceCap == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of NBF Cap -->
                  <!-- Start of NBF Standard -->
                  <tr  ng-show="ngDialogData.proposalData.type.focusStandard== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.focusStandard">NBF Standard</td>
                      <td class="tdwide" ng-repeat="(index, voiceStdCh) in ngDialogData.proposalData.voiceStdChannel">
                          <span ng-if="voiceStdCh == 199">5 Channels</span>
                          <span ng-if="voiceStdCh == 219">6 Channels</span>
                          <span ng-if="voiceStdCh == 249">10 Channels</span>
                          <span ng-if="voiceStdCh == 299">20 Channels</span>
                          <span ng-if="voiceStdCh == 349">30 Channels</span>
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voiceStdPrice) in ngDialogData.proposalData.voiceStdChannel">${{voiceStdPrice}} </td>

                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.focusStandard == true">
                      <td class="tdwide" >Direct in Dials</td>
                      <td class="tdwide"  ng-repeat="(index, vStdDidPrice) in ngDialogData.proposalData.voiceStdDID">
                        <span ng-if="vStdDidPrice == 9.99">10 x DID</span>
                        <span ng-if="vStdDidPrice == 15.99">20 x DID</span>
                        <span ng-if="vStdDidPrice == 19.99">50 x DID</span>
                        <span ng-if="vStdDidPrice == 25.99">100 x DID</span>
                      </td>
                      <td class="tdnarrow"  ng-repeat="(index, vStdDid) in ngDialogData.proposalData.voiceStdDID">{{vStdDid}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.focusStandard == true">
                      <td class="tdwide"  ng>Fax to Emails</td>
                      <td class="tdwide" ><span ng-repeat="(index, voiceStdFaxQ) in ngDialogData.proposalData.voiceStdFaxQty">{{voiceStdFaxQ}} x 9.95</span></td>
                      <td class="tdnarrow" ><span ng-repeat="(index, voiceStdFaxQ) in ngDialogData.proposalData.voiceStdFaxQty">{{voiceStdFaxQ * 9.95}}</span></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.focusStandard == true">
                      <td class="tdwide" >Plan Discount</td>
                      <td class="tdwide"  ng-repeat="(index, stdDiscount) in ngDialogData.proposalData.bFStdDiscount">${{stdDiscount}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, stdDiscount) in ngDialogData.proposalData.bFStdDiscount">${{stdDiscount}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.focusStandard == true">
                      <td class="tdwide" >Call Discount</td>
                      <td class="tdwide"  ng-repeat="(index, stdCallDiscount) in ngDialogData.proposalData.bFCallDiscount">${{stdCallDiscount}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, stdCallDiscount) in ngDialogData.proposalData.bFCallDiscount">${{stdCallDiscount}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.focusStandard == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of NBF Standard -->
                  <!-- Start of Complete Office -->
                  <tr  ng-show="ngDialogData.proposalData.type.completeOffice== true">
                      <td class="tdwide"  ng-show="ngDialogData.proposalData.type.completeOffice">Office Analogue $39.95</td>
                      <td class="tdwide"  ng-repeat="(index, voiceCompAnalouge) in ngDialogData.proposalData.voiceCompAnalouge">{{voiceCompAnalouge}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, voiceCompAnalouge) in ngDialogData.proposalData.voiceCompAnalouge">
                        <span ng-if="voiceCompAnalouge == 0">$0</span>
                        <span ng-if="voiceCompAnalouge == 1">$39.95</span>
                        <span ng-if="voiceCompAnalouge == 2">$79.90</span>
                        <span ng-if="voiceCompAnalouge == 3">$119.85</span>
                        <span ng-if="voiceCompAnalouge == 4">$159.80</span>
                        <span ng-if="voiceCompAnalouge == 5">$199.75</span>
                        <span ng-if="voiceCompAnalouge == 6">$239.70</span>
                        <span ng-if="voiceCompAnalouge == 7">$279.65</span>
                        <span ng-if="voiceCompAnalouge == 8">$319.60</span>
                        <span ng-if="voiceCompAnalouge == 9">$359.55</span>
                        <span ng-if="voiceCompAnalouge == 10">$399.50</span>
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide" >Office BRI $99.85</td>
                      <td class="tdwide"  ng-repeat="(index, voiceCompBri) in ngDialogData.proposalData.voiceCompBri">{{voiceCompBri}}</td>
                      <td  class="tdnarrow" ng-repeat="(index, voiceCompBri) in ngDialogData.proposalData.voiceCompBri">
                        <span ng-if="voiceCompBri == 0">$0</span>
                        <span ng-if="voiceCompBri == 1">$99.85</span>
                        <span ng-if="voiceCompBri == 2">$199.70</span>
                        <span ng-if="voiceCompBri == 3">$299.549</span>
                        <span ng-if="voiceCompBri == 4">$399.4</span>
                        <span ng-if="voiceCompBri == 5">$499.25</span>
                        <span ng-if="voiceCompBri == 6">$599.09</span>
                        <span ng-if="voiceCompBri == 7">$698.949</span>
                        <span ng-if="voiceCompBri == 8">$798.8</span>
                        <span ng-if="voiceCompBri == 9">$898.65</span>
                        <span ng-if="voiceCompBri == 10">$998.5</span>
                      </td>
                  </tr>

                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide" >Nexgen Office PRI</td>
                      <td class="tdwide"  ng-repeat="(index, voiceCompPri) in ngDialogData.proposalData.voiceCompPri">{{voiceCompPri}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, voiceCompPri) in ngDialogData.proposalData.voiceCompPri">
                        <span ng-if="voiceCompPri == 0">0</span>
                        <span ng-if="voiceCompPri == 299.85">10</span>
                        <span ng-if="voiceCompPri == 499.85">20</span>
                        <span ng-if="voiceCompPri == 699.85">30</span>
                      </td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide" ng>Fax to Emails</td>
                      <td class="tdwide"><span ng-repeat="(index, voiceCompFaxQty) in ngDialogData.proposalData.voiceCompFaxQty">{{voiceCompFaxQty}} x 9.95</span></td>
                      <td class="tdnarrow"><span ng-repeat="(index, voiceCompFaxQty) in ngDialogData.proposalData.voiceCompFaxQty">{{voiceCompFaxQty * 9.95}}</span></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide">Direct in Dials</td>
                      <td class="tdwide" ng-repeat="(index, voiceCID) in ngDialogData.proposalData.voiceCompDID">
                        <span ng-if="voiceCID == 0">0 x DID</span>
                        <span ng-if="voiceCID == 49.95">100 x DID</span>
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCIDPrice) in ngDialogData.proposalData.voiceCompDID">{{voiceCIDPrice}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide">Analogue Discount $</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompAnalougeDis) in ngDialogData.proposalData.voiceCompAnalougeDis">${{voiceCompAnalougeDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDis) in ngDialogData.proposalData.voiceCompAnalougeDis">${{voiceCompAnalougeDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide">BRI Discount $</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompBriDis) in ngDialogData.proposalData.voiceCompBriDis">${{voiceCompBriDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompBriDis) in ngDialogData.proposalData.voiceCompBriDis">${{voiceCompBriDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide">PRI Discount $</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompPriDis) in ngDialogData.proposalData.voiceCompPriDis">${{voiceCompPriDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompPriDis) in ngDialogData.proposalData.voiceCompPriDis">${{voiceCompPriDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                      <td class="tdwide">Call Discount $</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompCallDis) in ngDialogData.proposalData.voiceCompCallDis">${{voiceCompCallDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompCallDis) in ngDialogData.proposalData.voiceCompCallDis">${{voiceCompCallDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.completeOffice == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Complete Office -->
                  <!-- Start of Solution Cap -->
                  <tr ng-show="ngDialogData.proposalData.type.voiceUt== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.voiceUt">Solution Cap</td>
                      <td class="tdwide" ng-repeat="(index, voiceUntimedChannel) in ngDialogData.proposalData.voiceUntimedChannel">
                          <span ng-if="voiceUntimedChannel == 199">3 Channels</span>
                          <span ng-if="voiceUntimedChannel == 259">4 Channels</span>
                          <span ng-if="voiceUntimedChannel == 319">5 Channels</span>
                          <span ng-if="voiceUntimedChannel == 379">6 Channels</span>
                          <span ng-if="voiceUntimedChannel == 439">7 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 499">8 Channels</span>
                          <span ng-if="voiceUntimedChannel == 559">9 Channels</span>
                          <span ng-if="voiceUntimedChannel == 619">10 Channels</span>
                          <span ng-if="voiceUntimedChannel == 679">11 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 739">12 Channels</span>
                          <span ng-if="voiceUntimedChannel == 799">13 Channels</span>
                          <span ng-if="voiceUntimedChannel == 859">14 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 919">15 Channels</span>
                          <span ng-if="voiceUntimedChannel == 979">16 Channels</span>
                          <span ng-if="voiceUntimedChannel == 1039">17 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1099">18 Channels</span>
                          <span ng-if="voiceUntimedChannel == 1159">19 Channels</span>
                          <span ng-if="voiceUntimedChannel == 1219">20 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1279">21 Channels</span>
                          <span ng-if="voiceUntimedChannel == 1339">22 Channels</span>
                          <span ng-if="voiceUntimedChannel == 1399">23 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1459">24 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1519">25 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1579">26 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1639">27 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1699">28 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1759">29 Channels</span> 
                          <span ng-if="voiceUntimedChannel == 1819">30 Channels</span> 
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voiceUntimedChannel) in ngDialogData.proposalData.voiceUntimedChannel">
                          {{voiceUntimedChannel}}
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceUt == true">
                      <td class="tdwide">Direct in Dial</td>
                      <td class="tdwide" ng-repeat="(index, voiceUntimedDIDPrice) in ngDialogData.proposalData.voiceUntimedDID">
                        <span ng-if="voiceUntimedDIDPrice == 14.95">10x DID</span>
                        <span ng-if="voiceUntimedDIDPrice == 24.95">50x DID</span>
                        <span ng-if="voiceUntimedDIDPrice == 34.95">100x DID</span>
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voiceUntimedDID) in ngDialogData.proposalData.voiceUntimedDID">${{voiceUntimedDID}}
                      </td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceUt == true">
                      <td class="tdwide" ng>Fax to Emails</td>
                      <td class="tdwide"><span ng-repeat="(index, voiceUntimedFaxQty) in ngDialogData.proposalData.voiceUntimedFaxQty">{{voiceUntimedFaxQty}}  x 9.95<span></span></td>
                      <td class="tdnarrow"><span ng-repeat="(index, voiceUntimedFaxQty) in ngDialogData.proposalData.voiceUntimedFaxQty">{{voiceUntimedFaxQty * 9.95}}</span></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceUt == true">
                      <td class="tdwide">Discount</td>
                      <td class="tdwide" ng-repeat="(index, bFUntimedDiscount) in ngDialogData.proposalData.bFUntimedDiscount">${{bFUntimedDiscount}}</td>
                      <td class="tdnarrow" ng-repeat="(index, bFUntimedDiscount) in ngDialogData.proposalData.bFUntimedDiscount">${{bFUntimedDiscount}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceUt == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Solution Cap -->
                  <!-- Start of Solution Standard -->
                  <tr  ng-show="ngDialogData.proposalData.type.voiceSolution== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.voiceSolution">Solution Standard</td>
                      <td class="tdwide" ng-repeat="(index, voiceStdPrice) in ngDialogData.proposalData.voiceSolutionChannel">
                          <span ng-if="voiceStdPrice == 149">3 Channels</span>
                          <span ng-if="voiceStdPrice == 159">4 Channels</span>
                          <span ng-if="voiceStdPrice == 169">5 Channels</span>
                          <span ng-if="voiceStdPrice == 179">6 Channels</span>
                          <span ng-if="voiceStdPrice == 189">7 Channels</span>
                          <span ng-if="voiceStdPrice == 199">9 Channels</span>
                          <span ng-if="voiceStdPrice == 209">9 Channels</span>
                          <span ng-if="voiceStdPrice == 219">10 Channels</span>
                          <span ng-if="voiceStdPrice == 229">11 Channels</span>
                          <span ng-if="voiceStdPrice == 239">12 Channels</span>
                          <span ng-if="voiceStdPrice == 249">13 Channels</span>
                          <span ng-if="voiceStdPrice == 259">14 Channels</span>
                          <span ng-if="voiceStdPrice == 269">15 Channels</span>
                          <span ng-if="voiceStdPrice == 279">16 Channels</span>
                          <span ng-if="voiceStdPrice == 289">17 Channels</span>
                          <span ng-if="voiceStdPrice == 299">18 Channels</span>
                          <span ng-if="voiceStdPrice == 309">19 Channels</span>
                          <span ng-if="voiceStdPrice == 319">20 Channels</span>
                          <span ng-if="voiceStdPrice == 329">21 Channels</span>
                          <span ng-if="voiceStdPrice == 339">22 Channels</span>
                          <span ng-if="voiceStdPrice == 349">23 Channels</span>
                          <span ng-if="voiceStdPrice == 359">24 Channels</span>
                          <span ng-if="voiceStdPrice == 369">25 Channels</span>
                          <span ng-if="voiceStdPrice == 379">26 Channels</span>
                          <span ng-if="voiceStdPrice == 389">27 Channels</span>
                          <span ng-if="voiceStdPrice == 399">28 Channels</span>
                          <span ng-if="voiceStdPrice == 409">29 Channels</span>
                          <span ng-if="voiceStdPrice == 419">30 Channels</span>                                              
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, voiceSolutionChannel) in ngDialogData.proposalData.voiceSolutionChannel">${{voiceSolutionChannel}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceSolution == true">
                      <td class="tdwide">Direct in Dials</td>
                      <td class="tdwide" ng-repeat="(index, vSolutionDidPrice) in ngDialogData.proposalData.voiceSolutionDID">
                        <span ng-if="vSolutionDidPrice == 14.95">10x DID</span>
                        <span ng-if="vSolutionDidPrice == 24.95">50x DID</span>
                        <span ng-if="vSolutionDidPrice == 34.95">100x DID</span>
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, vSolutionDid) in ngDialogData.proposalData.voiceSolutionDID">{{vSolutionDid}}</td>
                      
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true">
                      <td class="tdwide" ng>Fax to Emails</td>
                      <td class="tdwide"><span ng-repeat="(index, voiceSolutionFaxQty) in ngDialogData.proposalData.voiceSolutionFaxQty">{{voiceSolutionFaxQty}} x 9.95</span></td>
                      <td class="tdnarrow"><span ng-repeat="(index, voiceSolutionFaxQty) in ngDialogData.proposalData.voiceSolutionFaxQty">{{voiceSolutionFaxQty * 9.95}}</span></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceSolution == true">
                      <td class="tdwide">Plan Discount</td>
                      <td class="tdwide" ng-repeat="(index, bFSolutionCallDiscount) in ngDialogData.proposalData.bFSolutionCallDiscount">${{bFSolutionCallDiscount}}</td>
                      <td class="tdnarrow" ng-repeat="(index, bFSolutionCallDiscount) in ngDialogData.proposalData.bFSolutionCallDiscount">${{bFSolutionCallDiscount}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceSolution == true">
                      <td class="tdwide">Call Discount</td>
                      <td class="tdwide" ng-repeat="(index, bFSolutionDiscount) in ngDialogData.proposalData.bFSolutionDiscount">${{bFSolutionDiscount}}</td>
                      <td class="tdnarrow" ng-repeat="(index, bFSolutionDiscount) in ngDialogData.proposalData.bFSolutionDiscount">${{bFSolutionDiscount}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Solution Standard -->
                  <!-- Start of Essential Cap -->
                  <tr  ng-show="ngDialogData.proposalData.type.voiceEssential== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.voiceEssential">Essential Cap</td>
                      <td class="tdwide" ng-repeat="(index, vEssentialChannel) in ngDialogData.proposalData.voiceEssentialChannel">
                          <span ng-if="vEssentialChannel == 196">4 Channels</span>
                          <span ng-if="vEssentialChannel == 294">6 Channels</span>
                          <span ng-if="vEssentialChannel == 392">8 Channels</span>
                          <span ng-if="vEssentialChannel == 490">10 Channels</span>
                          <span ng-if="vEssentialChannel == 588">12 Channels</span>
                          <span ng-if="vEssentialChannel == 686">14 Channels</span>
                          <span ng-if="vEssentialChannel == 784">16 Channels</span>
                          <span ng-if="vEssentialChannel == 882">18 Channels</span>
                          <span ng-if="vEssentialChannel == 980">20 Channels</span>                                              
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, vEssentialChannel) in ngDialogData.proposalData.voiceEssentialChannel">${{vEssentialChannel}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceEssential == true">
                      <td class="tdwide">Direct in Dials</td>
                      <td class="tdwide" ng-repeat="(index, vEssentialDID) in ngDialogData.proposalData.voiceEssentialDID">
                        <span ng-if="vEssentialDID == 9.99">10x DID</span>
                        <span ng-if="vEssentialDID == 15.99">20x DID</span>
                        <span ng-if="vEssentialDID == 19.99">50x DID</span>
                        <span ng-if="vEssentialDID == 25.99">100x DID</span>                                                
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, vEssentialDID) in ngDialogData.proposalData.voiceEssentialDID">${{vEssentialDID}}</td>
                      
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
                      <td class="tdwide" ng>Plan Discount </td>
                      <td class="tdwide" ng-repeat="(index, bECapDiscount) in ngDialogData.proposalData.bECapDiscount">({{bECapDiscount}})</td>
                      <td class="tdnarrow" ng-repeat="(index, bECapDiscount) in ngDialogData.proposalData.bECapDiscount">$({{bECapDiscount}})</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceEssential == true">
                      <td class="tdwide">Monthly Midband Plans</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandPlansVoice) in ngDialogData.proposalData.ipMidbandPlansVoice">{{ipMidbandPlansVoice.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandPlansVoice) in ngDialogData.proposalData.ipMidbandPlansVoice">${{ipMidbandPlansVoice.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.voiceEssential == true">
                      <td class="tdwide">Midband Download Allowance</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandDownloadVoice) in ngDialogData.proposalData.ipMidbandDownloadVoice">{{ipMidbandDownloadVoice.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandDownloadVoice) in ngDialogData.proposalData.ipMidbandDownloadVoice">${{ipMidbandDownloadVoice.price}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
                      <td class="tdwide" ng>Plan Discount $</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">$({{ipMidbandDis}})</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">$({{ipMidbandDis}})</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Essential Cap -->                  
              </table>

              <!-- DATA -->

              <table border="1" class="summary">
                  <!-- start of Data -->
                  <tr ng-show="ngDialogData.proposalData.type.adsl2 == true|| 
                        ngDialogData.proposalData.type.nbnUnlimitedPlans == true || 
                        ngDialogData.proposalData.type.ipMidband == true  || 
                        ngDialogData.proposalData.type.ipMidbandUnli == true || 
                        ngDialogData.proposalData.type.ethernet == true || 
                        ngDialogData.proposalData.type.fibre == true">
                      <td rowspan="45"  class="rotate size" >&nbsp;&nbsp;&nbsp;&nbsp;Data&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                  <!-- Adsl -->
                  <tr ng-show="ngDialogData.proposalData.type.adsl2== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.adsl2">ADSL 2+</td>
                      <td class="tdwide" ng-repeat="adsl2Plans in ngDialogData.proposalData.adsl2Plans">
                          {{adsl2Plans.details}}
                      </td>
                      <td class="tdnarrow" ng-repeat="adsl2Plans in ngDialogData.proposalData.adsl2Plans">
                          ${{adsl2Plans.price}}
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
                      <td class="tdwide">Plan Discount</td>
                      <td class="tdwide" ng-repeat="adsl2Dis in ngDialogData.proposalData.adsl2Dis">${{adsl2Dis}}</td>
                      <td class="tdnarrow" ng-repeat="adsl2Dis in ngDialogData.proposalData.adsl2Dis">${{adsl2Dis}}</td>                      
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.adsl2 == true">
                      <td class="tdwide" ng>Office Analogue $39.95 p/mth per line</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompAnalougeDSL) in ngDialogData.proposalData.voiceCompAnalougeDSL">{{voiceCompAnalougeDSL}} x 39.95</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDSL) in ngDialogData.proposalData.voiceCompAnalougeDSL">${{voiceCompAnalougeDSL * 39.95}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
                      <td class="tdwide" >Analogue Discount $</td>
                      <td class="tdwide"  ng-repeat="(index, voiceCompAnalougeDisDSL) in ngDialogData.proposalData.voiceCompAnalougeDisDSL">${{voiceCompAnalougeDisDSL}}</td>
                      <td  class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDisDSL) in ngDialogData.proposalData.voiceCompAnalougeDisDSL">${{voiceCompAnalougeDisDSL}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.adsl2 == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of ADSL -->
                  <!-- Start of NBN Unlimited -->
                  <tr  ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans">NBN Unlimited Plans</td>
                      <td class="tdwide" ng-repeat="(index, UnlimitedPlans) in ngDialogData.proposalData.UnlimitedPlans">{{UnlimitedPlans.inclusion}}</td>
                      <td class="tdnarrow" ng-repeat="(index, UnlimitedPlans) in ngDialogData.proposalData.UnlimitedPlans">${{UnlimitedPlans.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
                      <td class="tdwide">Monthly Plan Discount</td>
                      <td class="tdwide" ng-repeat="(index, nbnUnlimitedDis) in ngDialogData.proposalData.nbnUnlimitedDis">${{nbnUnlimitedDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, nbnUnlimitedDis) in ngDialogData.proposalData.nbnUnlimitedDis">${{nbnUnlimitedDis}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
                      <td class="tdwide" ng>Analogue ATA Line $39.95 p/mth per line</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompAnalougeNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeNBNUnli">{{voiceCompAnalougeNBNUnli}} x $39.95</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeNBNUnli">${{voiceCompAnalougeNBNUnli * 39.95}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
                      <td class="tdwide">Analogue ATA discount Monthly</td>
                      <td class="tdwide" ng-repeat="(index, voiceCompAnalougeDisNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli">${{voiceCompAnalougeDisNBNUnli}}</td>
                      <td class="tdnarrow" ng-repeat="(index, voiceCompAnalougeDisNBNUnli) in ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli">${{voiceCompAnalougeDisNBNUnli}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of NBN Unlimited -->
                  <!-- Start of Midband Monthly -->
                  <tr  ng-show="ngDialogData.proposalData.type.ipMidband== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.ipMidband">Monthly Plans</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandPlans) in ngDialogData.proposalData.ipMidbandPlans">{{ipMidbandPlans.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandPlans) in ngDialogData.proposalData.ipMidbandPlans">${{ipMidbandPlans.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
                      <td class="tdwide">Download Allowance</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandDownload) in ngDialogData.proposalData.ipMidbandDownload">{{ipMidbandDownload.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandDownload) in ngDialogData.proposalData.ipMidbandDownload">${{ipMidbandDownload.price}}</td>
                  </tr>

                  <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
                      <td class="tdwide">Discount </td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">${{ipMidbandDis}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandDis) in ngDialogData.proposalData.ipMidbandDis">${{ipMidbandDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.ipMidband == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Midband Monthly -->
                  <!-- Start of Midband Unlimited -->
                  <tr ng-show="ngDialogData.proposalData.type.ipMidbandUnli== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.ipMidbandUnli">Monthly Plans</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandUnliPlans) in ngDialogData.proposalData.ipMidbandUnliPlans">{{ipMidbandUnliPlans.description}}
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandUnliPlans) in ngDialogData.proposalData.ipMidbandUnliPlans">${{ipMidbandUnliPlans.price}}
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.ipMidbandUnli == true">
                      <td class="tdwide">Discount</td>
                      <td class="tdwide" ng-repeat="(index, ipMidbandUnliDis) in ngDialogData.proposalData.ipMidbandUnliDis">${{ipMidbandUnliDis}}
                      </td>
                      <td class="tdnarrow" ng-repeat="(index, ipMidbandUnliDis) in ngDialogData.proposalData.ipMidbandUnliDis">${{ipMidbandUnliDis}}
                      </td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.ipMidbandUnli == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Midband Unlimited -->
                  <!-- Start of Ehternet Unlimited(EFM) -->
                  <tr  ng-show="ngDialogData.proposalData.type.ethernet== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.ethernet">Ehternet Unlimited(EFM)</td>
                      <td class="tdwide" ng-repeat="(index, ethernetPlans) in ngDialogData.proposalData.ethernetPlans">{{ethernetPlans.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, ethernetPlans) in ngDialogData.proposalData.ethernetPlans">${{ethernetPlans.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.ethernet == true">
                      <td class="tdwide" >Discount</td>
                      <td class="tdwide"  ng-repeat="(index, ethernetDis) in ngDialogData.proposalData.ethernetDis">${{ethernetDis}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, ethernetDis) in ngDialogData.proposalData.ethernetDis">${{ethernetDis}}</td>
                  </tr>
                  
                  <tr ng-if="ngDialogData.proposalData.type.ethernet == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Ehternet Unlimited(EFM) -->      
                  <!-- Start of Fibre Unlimited -->
                  <tr  ng-show="ngDialogData.proposalData.type.fibre== true">
                      <td class="tdwide" ng-show="ngDialogData.proposalData.type.fibre">Fibre Unlimited(EFM)</td>
                      <td class="tdwide" ng-repeat="(index, fibreUtPlans) in ngDialogData.proposalData.fibreUtPlans">{{fibreUtPlans.description}}</td>
                      <td class="tdnarrow" ng-repeat="(index, fibreUtPlans) in ngDialogData.proposalData.fibreUtPlans">${{fibreUtPlans.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.fibre == true">
                      <td class="tdwide" >Discount</td>
                      <td class="tdwide" ng-repeat="(index, fibreDis) in ngDialogData.proposalData.fibreDis">${{fibreDis}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, fibreDis) in ngDialogData.proposalData.fibreDis">${{fibreDis}}</td>
                  </tr>
                  
                  <tr ng-if="ngDialogData.proposalData.type.fibre == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- End of Fibre Unlimited -->     
                  <!-- End of Data -->     
              </table>

              <!-- Mobile -->

              <table border="1" class="summary">
                  <!-- start of Mobile -->
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true|| 
                        ngDialogData.proposalData.type.telstraWireless == true || 
                        ngDialogData.proposalData.type.mobileCap == true  || 
                        ngDialogData.proposalData.type.mobileUt == true || 
                        ngDialogData.proposalData.type.mobileWireless == true">
                      <td rowspan="45"  class="rotate size" >&nbsp;&nbsp;Mobile &nbsp;</td>
                  </tr>
                  <!-- Telstra 4G -->
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed== true">
                      <td class="tdwide"  ng-show="ngDialogData.proposalData.type.telstraUntimed">Rate Plan</td>
                      <td class="tdwide" >
                          <p ng-repeat="telstra in ngDialogData.proposalData.telstra">
                          <span ng-if="telstra == 49">$49</span>
                          <span ng-if="telstra == 69">$69</span>
                          <span ng-if="telstra == 79">$79</span>
                          <span ng-if="telstra == 89">$89</span>
                        </p>
                      </td>
                      <td class="tdnarrow"  ng-show="ngDialogData.proposalData.type.telstraUntimed">
                          <p ng-repeat="telstra in ngDialogData.proposalData.telstra">
                          <span ng-if="telstra == 49">$49</span>
                          <span ng-if="telstra == 69">$69</span>
                          <span ng-if="telstra == 79">$79</span>
                          <span ng-if="telstra == 89">$89</span>
                        </p>
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed== true">
                      <td class="tdwide"  ng-show="ngDialogData.proposalData.type.telstraUntimed">Data Bolt-on</td>
                      <td class="tdwide" >
                        <p ng-repeat="boltOn in ngDialogData.proposalData.boltOn">
                          <span ng-if="boltOn == 9.89">1 GB</span>
                          <span ng-if="boltOn == 31.99">5 GB</span>
                        </p>
                      </td>
                      <td class="tdnarrow" >
                        <p ng-repeat="boltOn in ngDialogData.proposalData.boltOn">
                          <span ng-if="boltOn == 9.89">$9.89</span>
                          <span ng-if="boltOn == 31.99">$31.99</span>
                        </p>
                      </td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
                      <td class="tdwide" >Telstra 4G Plan Discount</td>
                      <td class="tdwide" >${{ngDialogData.proposalData.telstraUntimedDis}}</td>
                      <td class="tdnarrow" >${{ngDialogData.proposalData.telstraUntimedDis}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.telstraUntimed == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- Telstra Wireless -->
                  <tr ng-show="ngDialogData.proposalData.type.telstraWireless == true">
                      <td class="tdwide" >Telstra Wireless Monthly Plans</td>
                      <td class="tdwide"  ng-repeat="telstraWirelessPlans in ngDialogData.proposalData.telstraWirelessPlans">{{telstraWirelessPlans.description}}</td>
                      <td class="tdnarrow"  ng-repeat="telstraWirelessPlans in ngDialogData.proposalData.telstraWirelessPlans">${{telstraWirelessPlans.price}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.telstraWireless == true">
                      <td class="tdwide"  ng>Discount</td>
                      <td class="tdwide"  ng-repeat="(index, telstraWirelessDis) in ngDialogData.proposalData.telstraWirelessDis">{{telstraWirelessDis}}</td>
                      <td class="tdnarrow"  ng-repeat="(index, telstraWirelessDis) in ngDialogData.proposalData.telstraWirelessDis">{{telstraWirelessDis}}</td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.telstraWireless == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                 
                  <!-- Mobile Mega Cap -->
                  <tr ng-show="ngDialogData.proposalData.type.mobileCap== true">
                      <td class="tdwide"  ng-show="ngDialogData.proposalData.type.mobileCap">Rate Plan</td>
                      <td class="tdwide" >
                          <p ng-repeat="megaRate in ngDialogData.proposalData.megaRate">
                          <span ng-if="megaRate == 39">500 MB</span>
                          <span ng-if="megaRate == 49">2 GB</span>
                          <span ng-if="megaRate == 59">3 GB</span>
                        </p>
                      </td>
                      <td class="tdnarrow" >
                          <p ng-repeat="megaRate in ngDialogData.proposalData.megaRate">
                          <span ng-if="megaRate == 39">$39</span>
                          <span ng-if="megaRate == 49">$49</span>
                          <span ng-if="megaRate == 59">$59</span>
                        </p>
                      </td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.mobileCap == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <tr ng-if="ngDialogData.proposalData.type.mobileCap == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <!-- Mobile Untimed -->
                  <tr ng-show="ngDialogData.proposalData.type.mobileUt == true">
                      <td class="tdwide" >Mobile Untimed</td>
                      <td class="tdwide" >${{ngDialogData.proposalData.mobileUtDis}}</td>
                      <td class="tdnarrow" >${{ngDialogData.proposalData.mobileUtDis}}</td>
                  </tr>
                  <!-- Wireless Plan  -->
                  <tr ng-show="ngDialogData.proposalData.type.mobileWireless == true">
                      <td class="tdwide" >Wireless Plan</td>
                      <td class="tdwide"  ng-repeat="mobileWirelessPlans in ngDialogData.proposalData.mobileWirelessPlans">{{mobileWirelessPlans.description}}</td>
                      <td class="tdnarrow"  ng-repeat="mobileWirelessPlans in ngDialogData.proposalData.mobileWirelessPlans">${{mobileWirelessPlans.price}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.mobileWireless == true">
                      <td class="tdwide" >Discount</td>
                      <td class="tdwide"  ng-repeat="mobileWirelessDis in ngDialogData.proposalData.mobileWirelessDis">${{mobileWirelessDis}}</td>
                      <td class="tdnarrow"  ng-repeat="mobileWirelessDis in ngDialogData.proposalData.mobileWirelessDis">${{mobileWirelessDis}}</td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
                  <tr ng-show="ngDialogData.proposalData.type.telstraUntimed == true">
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                  </tr>
              </table>
              <table class="total">
                  <tr>
                      <td class="tdwide">Total:</td>
                      <td class="tdwide"></td>
                      <td class="tdnarrow" ng-model="ngDialogData.proposalData.sum" number-Formatter> ${{ ngDialogData.proposalData.sum }}</td>
                  </tr>
              </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<pagebreak>

<pagebreak>
<div class="pages text-grey pageBreaker configapp-slide5" >
	<table>
	    <tr>
	        <td></td>
	        <td rowspan="2"></td>
	    </tr>
	    <tr>
	        <td></td>
	    </tr>
	    <tr>
	        <td></td>
	        <td></td>
	    </tr>
	</table>
</div>

<pagebreak>
<div class="pages text-grey pageBreaker configapp-feedback" >
	<div class="feedback" ng-repeat="fbs in array | filter:{state:'!'}">
		<br>
		<br>
		<table>
		    <tr>
		        <td width="20%"></td>
		        <td width="40%">
		        	<img ng-src="{{fbs.logo}}">
		        	<p ng-bind-html="fbs.fb"></p>
		        </td>
		        <td width="20%"></td>
		    </tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>
<pagebreak>
<div class="pages text-grey pageBreaker configapp-end">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class= "form-group">
   		<div class ="col-xs-10 pull-right">
        	<!-- <button class="btn btn-success"  id="save" type="submit" ng-click="load()">Finish</button> -->
    	</div>
   </div>	
</div>
