<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style>
<!-- <link rel="stylesheet" type="text/css" href="assets/css/quotCss.css"> -->
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<link href = "assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>
<div class ="pageBreaker">
    <table style="width:100%;" id="body">
        <tr style="background-color: #273a4a;border:solid 1px #273a4a;">
            <td id="imgTd" style="width:50%;padding-left: 26px;vertical-align: middle;">
                <img  width = 250 height = 70 id="logo" src="assets/images/logo.png">
            </td>
            <td class="info" style="width:50%;">                
                    Sydney Office: 2/71 York Street, Sydney, NSW 2000<br> 
                    Brisbane Office: Level 2/5 Cribb St Milton QLD 4064<br>
                    Melbourne Office: Level 6 606 St Kilda Rd Melbourne Vic 3004<br>
                    Tel: 1 300 02 04 02 | Fax: 1 300 02 88 78 | support@nexgen.com.au<br>
                    Website: www.nexgen.com.au<br>                
            </td>
        </tr>
        <tr  class="planTitle" style="width:100%;height: 25px;">
           <td colspan="2"  id="myoffertext" style="color: white;text-align: center">MY OFFER</td> 
        </tr>
        <tr >
            <td style="font-size: 20px;height: 33px;padding-top: 8px;"><span style="font-size: 20px;color:#e31e25;">Schedule of Goods</span></td>
        </tr>
        <tr>
            <td colspan="2" style="height: 33px;padding-top: 10px;">
                <table class="theTable tablee" id="sa">
                        <tr style="background-color: #273a4a">
                            <th style="font-size: 18px;color: white;padding-left: 6px">Description</th>
                            <th style="font-size: 18px;color: white;">Quantity</th>
                            <th style="font-size: 18px;color: white;">Unit Price</th>
                            <th style="font-size: 18px;color: white;">Subtotal</th>
                        </tr>
                        <tr ng-repeat="(index,option) in ngDialogData.proposalData.schOption track by $index">
                            <td>{{option.item}}</td>
                            <td>{{ngDialogData.proposalData.schQty[index]}}</td>
                            <td>{{option.price}}</td>
                            <td>{{option.price * ngDialogData.proposalData.schQty[index]}}</td>
                        </tr>
                        <tr ng-repeat="(index,option) in ngDialogData.proposalData.schAddOption track by $index">
                            <td>{{ngDialogData.proposalData.schAddOption[index]}}</td>
                            <td>{{ngDialogData.proposalData.schAddQty[index]}}</td>
                        </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px;height: 33px;padding-top: 8px;" colspan="2"><span style="font-size: 20px;color:#e31e25;">Services</span></td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="theTable tablee">
                        <tr style="background-color: #273a4a;" >
                            <th width="77%" style="font-size: 18px;color: white;padding-left: 6px">Description</th>
                            <th width="33%" style="font-size: 18px;color: white;">Monthly Fee</th>
                        </tr>
                        <!-- start type=voiceCap-->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceStd" ng-if="ngDialogData.proposalData.type.voiceCap == true && voiceStd>0" style="background: gray">
                            <td>
                                <b>Business For Business Solution Standard </b>
                                <span ng-if="voiceStd == 495">5</span>
                                <span ng-if="voiceStd == 594">6</span> 
                                <span ng-if="voiceStd == 792">8</span>
                                <span ng-if="voiceStd == 990">10</span>
                                <span ng-if="voiceStd == 1188">12</span>
                                <span ng-if="voiceStd == 1106">14</span>
                                <span ng-if="voiceStd == 1264">16</span>
                                <span ng-if="voiceStd == 1422">18</span>
                                <span ng-if="voiceStd == 1580">20</span>
                                <span ng-if="voiceStd == 1975">25</span>
                                Channels
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceCap == true && ngDialogData.proposalData.voiceFaxToEmail[index]==true">
                            <td ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">Fax to Emails {{ngDialogData.proposalData.voiceFaxQty[index]}} x 9.95</td>
                            <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceFaxQty[index]>0">-$ {{ngDialogData.proposalData.voiceFaxQty[index] * 9.95  | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceCap == true && ngDialogData.proposalData.dID[index]" >
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.dID[index] == 9.99">10 x DID</span>
                                <span ng-if="ngDialogData.proposalData.dID[index] == 15.99">20 x DID</span>
                                <span ng-if="ngDialogData.proposalData.dID[index] == 19.99">50 x DID</span>
                                <span ng-if="ngDialogData.proposalData.dID[index] == 25.99">100 x DID</span>
                            </td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.dID[index] | number:2}}</td>        
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bFCapDiscount[index]>0 && ngDialogData.proposalData.type.voiceCap == true" ng-repeat-end>
                            <td class="tdwide">Max Discount</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.bFCapDiscount[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start :focusStandard  -->
                        <!-- change channel names -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceStdChannel" ng-if="ngDialogData.proposalData.type.focusStandard == true && voiceStd>0" style="background: gray">
                            <td>
                                <b>Business Focus Standard</b>
                                <span ng-if="voiceStd == 199">5</span>
                                <span ng-if="voiceStd == 219">6</span>
                                <span ng-if="voiceStd == 249">10</span>
                                <span ng-if="voiceStd == 299">20</span>
                                <span ng-if="voiceStd == 349">30</span> 
                                Channels
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.focusStandard == true && ngDialogData.proposalData.voiceStdFaxToEmail[index]==true">
                            <td ng-if="ngDialogData.proposalData.voiceStdFaxQty[index]>0">Fax to Emails {{ngDialogData.proposalData.voiceStdFaxQty[index]}} x 9.95</td>
                            <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceStdFaxQty[index]>0">$ {{ngDialogData.proposalData.voiceStdFaxQty[index] * 9.95  | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.focusStandard == true && ngDialogData.proposalData.voiceStdDID[index]>0" >
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 9.99">10 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 15.99">20 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 19.99">50 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceStdDID[index] == 25.99">100 x DID</span>
                            </td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceStdDID[index] | number:2}}</td>        
                        </tr>
                        
                        <tr ng-if="ngDialogData.proposalData.bFStdDiscount[index]>0 && ngDialogData.proposalData.type.focusStandard == true">
                            <td class="tdwide">Plan Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bFStdDiscount[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bFCallDiscount[index]>0 && ngDialogData.proposalData.type.focusStandard == true" ng-repeat-end>
                            <td class="tdwide">Call Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bFCallDiscount[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start :completeOffice -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceCompAnalouge" ng-if="ngDialogData.proposalData.type.completeOffice == true && voiceStd>0" style="background: gray">
                            <td>
                                <b>Office Analouge @ 39.95 per month per line </b>({{voiceStd}} Lines)
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd * 39.95 | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.voiceCompBri[index]>0 && ngDialogData.proposalData.type.completeOffice == true">
                            <td><b>Office BRI @ 99.85 per month per ISDN</b>({{ngDialogData.proposalData.voiceCompBri[index]}} Lines)</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompBri[index] * 99.85 | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.voiceCompPri[index]>0 && ngDialogData.proposalData.type.completeOffice == true">
                            <td>
                                <b>Nexgen Office PRI</b>
                            </td>
                            <td class="tdnarrow">
                                {{ngDialogData.proposalData.voiceCompPri[index]}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompFaxToEmail[index] == true">
                            <td ng-if="ngDialogData.proposalData.voiceCompFaxToEmail[index]>0">Fax to Emails ({{ngDialogData.proposalData.voiceCompFaxQty[index]}}) x 9.95</td>
                            <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceCompFaxToEmail[index]>0">$ {{ngDialogData.proposalData.voiceCompFaxQty[index] * 9.95  | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompDID[index]>0" >
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.voiceCompDID[index] == 49.95">100 x DID</span>
                            </td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompDID[index] | number:2}}</td>        
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompAnalougeDis[index]>0">
                            <td class="tdwide">Analouge Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompAnalougeDis[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompBriDis[index]>0">
                            <td class="tdwide">BRI Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompBriDis[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.completeOffice == true && ngDialogData.proposalData.voiceCompPriDis[index]>0">
                            <td class="tdwide">PRI Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompPriDis[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.voiceCompCallDis[index]>0 && ngDialogData.proposalData.type.completeOffice == true" ng-repeat-end>
                            <td class="tdwide">Call Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompCallDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start 
                        :voiceUt
                        change channel names -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceUntimedChannel" ng-if="ngDialogData.proposalData.type.voiceUt == true && ngDialogData.proposalData.voiceUntimedChannel>0" style="background: gray">
                            <td>
                                <b>Business Solution UntiBusiness Solution Standard </b>
                                <span ng-if="voiceStd == 199">199</span>
                                <span ng-if="voiceStd == 259">259</span>
                                <span ng-if="voiceStd == 319">319</span>
                                <span ng-if="voiceStd == 379">379</span>
                                <span ng-if="voiceStd == 439">439</span>
                                <span ng-if="voiceStd == 499">499</span>
                                <span ng-if="voiceStd == 559">559</span>
                                <span ng-if="voiceStd == 619">619</span>
                                <span ng-if="voiceStd == 679">679</span>
                                <span ng-if="voiceStd == 739">739</span>
                                <span ng-if="voiceStd == 799">799</span>
                                <span ng-if="voiceStd == 859">859</span>
                                <span ng-if="voiceStd == 919">919</span>
                                <span ng-if="voiceStd == 979">979</span>
                                <span ng-if="voiceStd == 1039">1039</span>
                                <span ng-if="voiceStd == 1099">1099</span>
                                <span ng-if="voiceStd == 1159">1159</span>
                                <span ng-if="voiceStd == 1219">1219</span>
                                <span ng-if="voiceStd == 1279">1279</span>
                                <span ng-if="voiceStd == 1339">1339</span>
                                <span ng-if="voiceStd == 1399">1399</span>
                                <span ng-if="voiceStd == 1459">1459</span>
                                <span ng-if="voiceStd == 1519">1519</span>
                                <span ng-if="voiceStd == 1579">1579</span>
                                <span ng-if="voiceStd == 1639">1639</span>
                                <span ng-if="voiceStd == 1699">1699</span>
                                <span ng-if="voiceStd == 1759">1759</span>
                                <span ng-if="voiceStd == 1819">1819</span>
                                Channels
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceUt == true && ngDialogData.proposalData.voiceUntimedFaxToEmail[index]==true">
                            <td ng-if="ngDialogData.proposalData.voiceUntimedFaxQty[index]>0">Fax to Emails {{ngDialogData.proposalData.voiceUntimedFaxQty[index]}} x 9.95</td>
                            <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceUntimedFaxQty[index]>0">$ {{ngDialogData.proposalData.voiceUntimedFaxQty[index] * 9.95  | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceUt == true && ngDialogData.proposalData.voiceUntimedDID[index]>0">
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 14.95">10</span>
                                <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 24.95">50</span>
                                <span ng-if="ngDialogData.proposalData.voiceUntimedDID[index] == 34.95">100</span>
                            X DID</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceUntimedDID[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bFUntimedDiscount[index]>0 && ngDialogData.proposalData.type.voiceUt == true" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bFUntimedDiscount[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start
                        change channel name
                        :voiceSolution -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceSolutionChannel" ng-if="ngDialogData.proposalData.type.voiceSolution == true && voiceStd>0" style="background: gray">
                            <td>
                                <b>Business Solution Standard </b>
                                <span ng-if="voiceStd == 149">149</span>
                                <span ng-if="voiceStd == 159">159</span> 
                                <span ng-if="voiceStd == 169">169</span>
                                <span ng-if="voiceStd == 179">179</span>
                                <span ng-if="voiceStd == 189">189</span>
                                <span ng-if="voiceStd == 199">199</span>
                                <span ng-if="voiceStd == 209">209</span>
                                <span ng-if="voiceStd == 219">219</span>
                                <span ng-if="voiceStd == 229">229</span>
                                <span ng-if="voiceStd == 239">239</span>
                                <span ng-if="voiceStd == 249">249</span>
                                <span ng-if="voiceStd == 259">259</span>
                                <span ng-if="voiceStd == 269">269</span>
                                <span ng-if="voiceStd == 279">279</span>
                                <span ng-if="voiceStd == 289">289</span>
                                <span ng-if="voiceStd == 299">299</span>
                                <span ng-if="voiceStd == 309">309</span>
                                <span ng-if="voiceStd == 319">319</span>
                                <span ng-if="voiceStd == 329">329</span>
                                <span ng-if="voiceStd == 339">339</span>
                                <span ng-if="voiceStd == 349">349</span>
                                <span ng-if="voiceStd == 359">359</span>
                                <span ng-if="voiceStd == 369">369</span>
                                <span ng-if="voiceStd == 379">379</span>
                                <span ng-if="voiceStd == 389">389</span>
                                <span ng-if="voiceStd == 399">399</span>
                                <span ng-if="voiceStd == 409">409</span>
                                <span ng-if="voiceStd == 419">419</span>
                                Channels
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true && ngDialogData.proposalData.voiceSolutionFaxToEmail[index] == true">
                            <td ng-if="ngDialogData.proposalData.voiceSolutionFaxQty[index]>0">Fax to Emails ({{ngDialogData.proposalData.voiceSolutionFaxQty[index]}}) x 9.95</td>
                            <td class="tdnarrow" ng-if="ngDialogData.proposalData.voiceSolutionFaxQty[index]>0">$ {{ngDialogData.proposalData.voiceSolutionFaxQty[index] * 9.95  | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceSolution == true && ngDialogData.proposalData.voiceSolutionDID[index]>0">
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 14.95">10</span>
                                <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 24.95">50</span>
                                <span ng-if="ngDialogData.proposalData.voiceSolutionDID[index] == 34.95">100</span>
                            X DID</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceSolutionDID[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bFSolutionDiscount[index]>0 && ngDialogData.proposalData.type.voiceSolution == true">
                            <td class="tdwide">Plan Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bFSolutionDiscount[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bFSolutionCallDiscount[index]>0 && ngDialogData.proposalData.type.voiceSolution == true" ng-repeat-end>
                            <td class="tdwide">Call Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bFSolutionCallDiscount[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start
                        :voiceEssential -->
                         <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.voiceEssentialChannel" ng-if="ngDialogData.proposalData.type.voiceEssential == true && voiceStd>0" style="background: gray">
                            <td>
                                <b>Business Essential Standard</b>
                                <span ng-if="voiceStd == 196">4</span>
                                <span ng-if="voiceStd == 294">6</span>
                                <span ng-if="voiceStd == 392">8</span>
                                <span ng-if="voiceStd == 490">10</span>
                                <span ng-if="voiceStd == 588">12</span>
                                <span ng-if="voiceStd == 686">14</span>
                                <span ng-if="voiceStd == 784">16</span>
                                <span ng-if="voiceStd == 882">18</span>
                                <span ng-if="voiceStd == 980">20</span> 
                                Channels
                            </td>
                            <td class="tdnarrow"> $ {{voiceStd | number:2}}
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true && ngDialogData.proposalData.voiceEssentialDID[index]" >
                            <td>Direct in Dial
                                <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 9.99">10 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 15.99">20 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 19.99">50 x DID</span>
                                <span ng-if="ngDialogData.proposalData.voiceEssentialDID[index] == 25.99">100 x DID</span>
                            </td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceEssentialDID[index] | number:2}}</td>        
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.bECapDiscount[index]>0 && ngDialogData.proposalData.type.voiceEssential == true" >
                            <td class="tdwide">Plan Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.bECapDiscount[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true && ngDialogData.proposalData.ipMidbandPlansVoice[index].price>0">
                            <td>Midband {{ngDialogData.proposalData.ipMidbandPlansVoice[index].description}}
                             Plan</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.ipMidbandPlansVoice[index].price | number:2}}</td> 
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.voiceEssential == true && ngDialogData.proposalData.ipMidbandDownloadVoice[index].price>0">
                            <td>Midband {{ngDialogData.proposalData.ipMidbandDownloadVoice[index].description}}
                             Plan</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.ipMidbandDownloadVoice[index].price | number:2}}</td> 
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.ipMidbandDis[index]>0 && ngDialogData.proposalData.type.voiceEssential == true" ng-repeat-end>
                            <td class="tdwide">Call Discount</td>
                            <td class="tdnarrow">-${{ngDialogData.proposalData.ipMidbandDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <!-- :ads12 -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.adsl2Plans" ng-if="ngDialogData.proposalData.type.adsl2 == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>ADSL 2+ Monthly Plan</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.adsl2 == true && ngDialogData.proposalData.adsl2Dis[index]>0">
                            <td class="tdwide">Plan Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.adsl2Dis[index] | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.adsl2 == true && ngDialogData.proposalData.voiceCompAnalougeDSL[index]>0">
                            <td>Office Analogue @ 39.95 per month per ISDN({{ngDialogData.proposalData.voiceCompAnalougeDSL[index]}} Lines)</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompAnalougeDSL[index] * 39.95 | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.adsl2 == true && ngDialogData.proposalData.voiceCompAnalougeDisDSL[index]>0" ng-repeat-end>
                            <td class="tdwide">Analouge Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompAnalougeDisDSL[index] | number:2}}</td>
                        </tr>
                        <!-- end-->
                        <!-- start -->
                        <!-- nbnUnlimitedPlans -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.UnlimitedPlans" ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>NBN Unlimited plans</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.nbnUnlimitedDis[index]>0 && ngDialogData.proposalData.type.nbnUnlimitedPlans == true">
                            <td class="tdwide">Monthly Plan discount</td>
                            <td class="tdnarrow">
                                <span>-$ {{ngDialogData.proposalData.nbnUnlimitedDis[index] | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true && ngDialogData.proposalData.voiceCompAnalougeNBNUnli[index]>0">
                            <td class="tdwide">Analogue ATA Line @ 39.95 per month per line ({{ngDialogData.proposalData.voiceCompAnalougeNBNUnli[index]}} Lines)</td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.voiceCompAnalougeNBNUnli[index] * 39.95 | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.nbnUnlimitedPlans == true && ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli[index]>0" ng-repeat-end>
                            <td class="tdwide">Analogue ATA discount $ Monthly</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.voiceCompAnalougeDisNBNUnli[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <!-- :ipMidband -->
                       <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.ipMidbandPlans" ng-if="ngDialogData.proposalData.type.ipMidband == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>Midband Monthly  plans</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.ipMidband == true && ngDialogData.proposalData.ipMidbandDownload.price[index].price>0">
                            <td class="tdwide">Download Allowance <span>{{ngDialogData.proposalData.ipMidbandDownload[index].description}}</span></td>
                            <td class="tdnarrow">$ <span>{{ngDialogData.proposalData.ipMidbandDownload[index].price}}</span></td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.ipMidband == true && ngDialogData.proposalData.ipMidbandDownload[index].price>0">
                            <td>Download Allowance {{ngDialogData.proposalData.ipMidbandDownload[index].description}}
                             </td>
                            <td class="tdnarrow">$ {{ngDialogData.proposalData.ipMidbandDownload[index].price | number:2}}</td> 
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.ipMidband == true && ngDialogData.proposalData.ipMidbandDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.ipMidbandDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <!-- ipMidbandUnli -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.ipMidbandUnliPlans" ng-if="ngDialogData.proposalData.type.ipMidbandUnli == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>Midband Unlimited plan</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.ipMidbandUnli == true && ngDialogData.proposalData.ipMidbandUnliDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.ipMidbandUnliDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.ethernetPlans" ng-if="ngDialogData.proposalData.type.ethernet == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>Ethernet (EFM) Plan</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.ethernet == true && ngDialogData.proposalData.ethernetDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.ethernetDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.fibreUtPlans" ng-if="ngDialogData.proposalData.type.fibre == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>Fibre Unlimited Monthly Plan</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.fibre == true && ngDialogData.proposalData.fibreDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.fibreDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <!-- :telstraUntimed -->
                        <tr ng-if="ngDialogData.proposalData.type.telstraUntimed == true && ngDialogData.proposalData.telstra.price>0" style="background: gray">
                            <td class="tdwide"><b>Telstra 4G Rate Plan</b>
                                <span>{{ngDialogData.proposalData.telstra.plan}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{ngDialogData.proposalData.telstra.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.telstraUntimed == true && ngDialogData.proposalData.boltOn.price>0">
                            <td class="tdwide">
                                <span>{{ngDialogData.proposalData.boltOn.description}}</span>
                            </td>
                            <td class="tdnarrow">
                                <span>$ {{ngDialogData.proposalData.boltOn.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.telstraUntimed == true && ngDialogData.proposalData.telstraUntimedDis>0">
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.telstraUntimedDis | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.telstraWirelessPlans" ng-if="ngDialogData.proposalData.type.telstraWireless == true && voiceStd.price>0" style="background: gray">
                            <td class="tdwide"><b>Telstra Wireless Monthly Plan</b>
                                <span>{{voiceStd.description}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{voiceStd.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.telstraWireless == true && ngDialogData.proposalData.telstraWirelessDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.telstraWirelessDis[index] | number:2}}</td>
                        </tr>
                        <!-- end -->
                        <!-- may nilagpasan ka dito -->
                        <!-- start -->
                        <!-- mobileUt -->
                        <tr ng-if="ngDialogData.proposalData.type.mobileUt == true && ngDialogData.proposalData.untimed.price>0" style="background: gray">
                            <td class="tdwide"><b>Mobile Untimed Rate Plan</b>
                                <span>{{ngDialogData.proposalData.untimed.plan}}</span>
                            </td>
                            <td class="tdnarrow">$
                                <span>{{ngDialogData.proposalData.untimed.price | number:2}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.mobileUt == true && ngDialogData.proposalData.mobileUtDis>0">
                            <td class="tdwide">
                                <span>Mobile Mega Plan Discount</span>
                            </td>
                            <td class="tdnarrow">
                                <span>-$ {{ngDialogData.proposalData.mobileUtDis | number:2}}</span>
                            </td>
                        </tr>
                        <!-- end -->
                        <!-- start -->
                        <!-- :mobileWireless -->
                        <tr ng-repeat-start="(index, voiceStd) in ngDialogData.proposalData.mobileWirelessPlans"
                        ng-if="ngDialogData.proposalData.type.mobileWireless == true && voiceStd.price>0">
                            <td class="tdwide"><b>Wireless Plan {{voiceStd.description}}</b></td>
                            <td class="tdnarrow">$ {{voiceStd.price | number:2}}</td>
                        </tr>
                        <tr ng-if="ngDialogData.proposalData.type.mobileWireless == true && ngDialogData.proposalData.mobileWirelessDis[index]>0" ng-repeat-end>
                            <td class="tdwide">Discount</td>
                            <td class="tdnarrow">-$ {{ngDialogData.proposalData.mobileWirelessDis[index] | number:2}}</td>
                        </tr>
                        <!-- <tr>
                            <td class="tdwide"><b>TOTAL</b></td>
                            <td class="tdnarrow">
                                $ {{ ngDialogData.proposalData.totalServiceAmount - ngDialogData.proposalDataa.totalServiceDiscount | number:2 }}
                            </td> 
                        </tr> -->
                </table>
            </td>
        </tr>
        <tr>
            <td id="asdf" style="padding: 13px 0px 0px 10px;">TERMS AND CONDITION</td>
        </tr>
        <tr>
            <td colspan="2" style="padding:9px 5px 0px 37px;">
                <ul id="bulletedul" style="color:black;list-style: disc;">
                    <li>The information I have supplied is correct and I am authorised to place this order.</li>
                    <li>I agree to order the goods and/or services stated and to pay all charges in connection with them.</li>
                    <li>I agree to the Terms stated on this offer and the <a href="#" style="text-decoration: none;">Business Terms & Conditions</a> (which I have read and understood) and to receive notice by email for any changes.</li>
                    <li>I agree to the above amounts being debited from my account via the payment method nominated in this order.</li>
                    <li>I have read and understood the relevent Critical Information Summaries provided with order or available from <a class="lkj" href="#" style="text-decoration: none;">https://business.mynetfone.com.au/legal/cis.</a></li>
                    <li>I accept the MyNetFone privacy policy available here: <a class="lkj" href="#" style="text-decoration: none;">https://business.mynetfone.com.au/legal/privacy.</a></li>
                    <li>I understand that the NBN services do not support battery backup and Priority Assistance and are not intended for end users who have medical and/or security alarms.</li>
                    <li>This Offer is valid for 30 days from the date of issuance.</li>
                    <li>All accounts that have been referred by a MyNetFone channel partner will have a channel partner setup as a technical contact (unless indicated otherwise)</li>
                </ul>
            </td>
        </tr>
    </table>
</div>