
<!-- <script src="/assets/js/angular-sanitize.js"></script> -->
<link rel="stylesheet" href="/assets/css/form.css">
<style type="text/css">
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
#errorType {
            display:none;
            color:red;
}
.group-headers {
        color : red;
        margin-top: 20px;
 }
</style>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Rates</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/index.html">Home</a>
            </li>
            <li>
                <a ui-sref="#/rates">Rates</a>
            </li>
            <li class="active">
                <strong>New Rates</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add a New Product</h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal" id="rateForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class= "form-group">
                                <label for="name" class="control-label col-xs-4">Rate Name</label>
                                <div class ="col-xs-8">
                                    <input type="text" class="form-control" id="name" ng-model="rateForm.name" data-required="true">
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="term" class="control-label col-xs-4">Term</label>
                                <div class="col-xs-8">
                                    <input type="number" string-to-number class="form-control" id="term" ng-model="rateForm.term" data-required="true">
                                </div>
                            </div>
                        </div>
                                             
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class= "col-md-4">
                            <label  class="control-label col-xs-4">Type</label>      
                            <div class="col-xs-8">
                                <select class="reAssign form-control" ng-model="rateForm.type">
                                        <option  value ="leasing" ng-selected="rateForm.type=='leasing'">Leasing</option>
                                        <option  value ="rental" ng-selected="rateForm.type=='rental'">Rental</option>
                                </select>
                            </div>
                        </div>
                        <div class= "col-md-4">
                                <label for ="effective_at" class="control-label col-xs-4">Effective Date</label>
                                <div class ="col-xs-8">
                                    <input class="form-control" id="effective_at" ng-model="rateForm.effective_at" type="date">
                                </div>
                        </div>
                    </div>  
                    <div class="hr-line-dashed"></div>
                    
                    <div class="row col-md-12" ng-repeat="rates in rateForm.rate">
                        <label  class="control-label col-md-1">Rate</label>      
                        <div class="col-md-2">
                            <input type="number" class="form-control"  ng-model="rates.rate" required>
                        </div>
                        <label  class="control-label col-md-1">Lower Limit</label>      
                        <div class="col-md-3">
                            <input type="number" class="form-control"  ng-model="rates.lowerLimit" required>
                        </div>
                        <label  class="control-label col-md-1">Upper Limit</label>      
                        <div class="col-md-3">
                            <input type="number" class="form-control"  ng-model="rates.upperLimit" required> 
                        </div>
                        <div class="col-md-1">
                            <button ng-show="$index >=1" class="btn btn-primary" ng-click="removeRates(index)">
                                <i class="fa fa-times"></i>
                            </button> 
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                             <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save"  ng-click="addRates()">
                                <i class="fa fa-new"></i> Add Rate
                            </a>
                            <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save"  ng-click="saveRate()">
                                <i class="fa fa-new"></i> Save
                            </a>
                            <a  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Save" ng-click="reset()">
                                <i class="fa fa-new"></i> Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
