<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Rates</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Rates</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right" ng-if="profile.type=='admin'">
                <a ui-sref="add_rates" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email" href="#/rates/new" >
                    <i class="fa fa-new"></i> Add New
                </a>
            </div>
        </div>
    </div>
</div>
<flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <h5>Basic Data Tables Example
                        <small>Sort, search</small>
                    </h5> -->
                </div>
            <div class="ibox-content">
        <table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmrates.dtOptions" dt-instance="vmrates.dtInstance" width="100%" dt-column-defs="vmrates.dtColumnDefs">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Term</th>
            <th>Rates</th>          
            <th>Lower Limit</th>          
            <th>Upper Limit</th>          
            <th>Type</th>          
            <th>Effective Date</th>          
            <th>Created at</th>          
            <th>Updated at</th>          
            <th>Action</th>          
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rate in rateForm">
            <td>{{rate.id}}</td>
            <td>{{rate.name}}</td> 
            <td>{{rate.term}}</td>
             <td>
                <p ng-repeat="rt in rate.rates">{{rt.rate}}</p>
            </td>
             <td>
                <p ng-repeat="ra in rate.rates">{{ra.lowerLimit}}</p>
            </td>
            <td>
                <p ng-repeat="rb in rate.rates">{{rb.upperLimit}}</p>
            </td>
            <td>{{rate.type}}</td>
            <td>{{rate.effective_at}}</td>
            <td>{{rate.created_at}}</td>
            <td>{{rate.updated_at}}</td>
            <td>
            <a  ng-click="edit(rate.id)"><i class="fa fa-pencil fa-2x"></i></a>
            <a ng-click="delete(rate.id)"><i class="fa fa-trash-o fa-2x"></i></a> 
            </td>
          </tr>
        </tbody>
      </table>

  <div class="container">
     
</div>
            <!-- <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Tax</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="product in products">
                        <td>{{product.code}}</td>
                        <td>{{product.category.name}}</td>
                        <td class="center">{{product.price}}</td>
                        <td>{{product.tax}}</td>
                        <td>{{product.description}}</td>
                        <td><div row-tools row_id="{{product.id}}"></div></td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>
<!-- </div>
</div>
</div>
</div> -->
