<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customer's Feeback</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="feedbacks">Customer's Feedback</a>
            </li>
            <li class="active">
                <strong>New Customer's Feedback</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
    <flash-message></flash-message>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Add a Customer's Feedback</h5>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal" id="feedbackForm">
        <div class="form-group"><label class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-3">
                 <input type="file" id="image" ng-model="feedbackForm.logo"  class="form-control" nv-file-select uploader="uploader">
                 <img src="/{{feedbackForm.logo}}" ng-model="feedbackForm.logo" width="50px" height="50px">
                 <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-model="feedbackForm.logo" ng-click="item.upload()">upload</button>
                    </li>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Feedback</label>
            <div class="col-sm-10">
                <textarea ui-tinymce="tinymceOption" ng-model="feedbackForm.fb"></textarea>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save" ng-model="feedbackForm.logo"  ng-click="upload();savefb();">
                    <i class="fa fa-new"></i> Save
                </a>
                <a  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="reset()">
                    <i class="fa fa-new"></i> Cancel
                </a>
            </div>
        </div>

</form>
</div>
</div>
</div>
</div>
</div>
