<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['1300_discounted'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%">
             <tr>
                <td colspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="2" class="cardTitle">NEXGEN 1300 RATE CARD</td>
            </tr>
            <tr>
                <td colspan="4" class="planTitle">NEXGEN  1300 / 1800 DISCOUNTED RATE CARD</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="4" class="planCategory">{{formData.comLocation['1300_discounted'][index]}},{{formData.comSuburb['1300'][index]}},{{postcode=formData.comZipCode['1300'][index]}}</td>
            </tr>
            <tr>
                <th class ="title" colspan=2>Destination</th>
                <th class ="title" >1800</th>
                <th class ="title" >1300</th>
            </tr>
            <tr>
                <td class = "destination" colspan=2>Local</td>
                <td class ="price">$0.10 per minute</td>
                <td class ="price">$0* <div class="smallText">For the first 10 minutes</div></td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>Community</td>
                <td class ="price">$0.10 per minute</td>
                <td class ="price">$0.10 per minute</td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>25 to 165 kms non Interstate</td>
                <td class ="price" >$0.10 per minute</td>
                <td class ="price" >$0.10 per minute</td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>National</td>
                <td class ="price">$0.10 per minute</td>
                <td class ="price">$0.10 per minute</td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>Mobile to Fixed</td>
                <td class ="price">$0.24 per minute</td>
                <td class ="price">$0.24 per minute</td>
            </tr>  
            <tr>
                <td class = "destination" colspan=2>Fixed to Mobile</td>
                <td class ="price">$0.45 per minute</td>
                <td class ="price">$0.45 per minute</td>
               
            </tr>
            <tr>
                <td class = "destination" colspan=2>Mobile to Mobile</td>
                <td class ="price">$0.45 per minute</td>
                <td class ="price">$0.45 per minute</td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>Flag fall</td>
                <td class ="price">$0.05 per call</td>
                <td class ="price">$0.05 per call</td>
            </tr>
            <tr>
                <td class = "destination" colspan=2>New or Existing</td>
                <td class ="quantity">
                    <span class="qty-text" ng-if="formData.qt1800Dis_new[index]">New</span>
                    <span class="qty-text" ng-if="!formData.qt1800Dis_new[index]">Existing</span>
                </td>
                <td class ="quantity">
                    <span class="qty-text" ng-if="formData.qt1300Dis_new[index]">New</span>
                    <span class="qty-text" ng-if="!formData.qt1300Dis_new[index]">Existing</span>
                </td>
               
            </tr>
            <tr>
                <td class = "destination" colspan=2>Quantity</td>
                <td class ="quantity"><span class="qty-text form-data">{{formData.rate131300Dis.qt1800[index]}}</span></td>
                <td class ="quantity"><span class="qty-text form-data">{{formData.rate131300Dis.qt1300[index]}}</span></td>
            </tr>
            <tr><td colspan = "4" class ="title">Total Monthly Charges / Discounts</td></tr>
            <tr>
                <td >Monthly Inbound Call Discount</td>
                <td class="form-data">${{formData.rateDis131300.discount[index]}}</td>
                <td class="term">Term</td>
                <td class="months">
                    <span class="qty-text form-data">{{formData.aBillingTerm}}</span>&nbsp;&nbsp;
                    Months
                </td>
            </tr>  
        </table>
        <p class="TAC">
            <b>NEXGEN  1300 / 1800 DISCOUNTED Terms and Conditions</b><br />
            (1) All Prices exclude GST. (2) 13/1300 Local calls are $0 for the first 10 minutes and then charged at $0.10 per 60 seconds.(3) A flag fall of 5 cents applies, excluding local calls.(4) Monthly recurring rental charges for Nexgen 1300/1800 services are charged at $19.99 per month per service ex GST. (5) Nexgen will only apply Inbound Call Discounts upon settlement of your account. Discounts expire at the end of the term. (6) Client is required to provide a wholesale account number from the current carrier for their existing inbound service prior to the churning of the service to Nexgen. A connection fee of $74 + GST applies for all 1300 /1800 services. Please refer to clause 15.5 of the Nexgen Application for Early Termination Calculation or visit www.nexgen.com.au for full terms and conditions.
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['1300_discounted'][index];suburb=formData.comSuburb['1300_discounted'][index];postcode=formData.comZipCode['1300_discounted'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>