<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customer's Feeback</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="feedbacks">Customer's Feedback</a>
            </li>
            <li class="active">
                <strong>New Customer's Feedback</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
    <flash-message></flash-message>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Add a Customer's Feedback</h5>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal" id="formData">
        <div class="form-group"><label class="col-sm-2 control-label">Per Month</label>
            <div class="col-sm-3">
                    <div class="col-xs-8">
                        <input type="number" string-to-number class="form-control" id="perMonth" ng-model="formData.perMonth" data-required="true">
                    </div>
            </div>
        </div>
        <!-- <p ng-repeat="rates in rated">
            {{rates}}
        </p> -->
        <div class="form-group"><label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-5">
              <select class="reAssign form-control" id="type" ng-model="formData.type">
                <option  value ="leasing" ng-selected="formData.type=='leasing'">Leasing</option>
                <option  value ="rental" ng-selected="formData.type=='rental'">Rental</option>
            </select>
            </div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Term</label>
            <div class="col-sm-3">
                    <div class="col-xs-8">
                        <input type="number" string-to-number class="form-control" id="term" ng-model="formData.term" data-required="true">
                    </div>
            </div>
        </div>
        <h4>
            {{leaser}}
        </h4>

        <div class="form-group"><label class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Compute"  ng-click="saver()">
                    <i class="fa fa-new"></i> Compute
                </a>
                <a  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="reset()">
                    <i class="fa fa-new"></i> Cancel
                </a>
            </div>
        </div>

</form>
</div>
</div>
</div>
</div>
</div>
