<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

    #errorType {
            display:none;
            color:red;
    }

    .group-headers {
        color : red;
        margin-top: 20px;
    }

</style>

<div class="ibox">
    <div>
        <div id="loading"><img src ="assets/images/loading2.gif" alt="loading">
            <div id="loadingStatus"></div>
        </div>
        <input type="hidden" id="isSigned" value='F' />
        <input type="hidden" id="hasForm" value='F' />

        <flash-message></flash-message>
        <!--<h2 class="text-white">Form Wizard</h2> -->
        <form class = "form-horizontal wizard-big" id="formData">
            <h1>Company Details</h1>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cName" class="control-label col-xs-4">Company Name</label>
                            <div class ="col-xs-8">
                                <input type="text" class ="form-control reAssign required"
                                       id="cName" ng-model="formData.cName"  pattern ="[a-zA-Z]{3,}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class= "form-group">
                            <label for="dateVal"  class="control-label col-xs-4">Date</label>
                            <div class="col-xs-8">
                                <div class="input-group date">
                                    <input class="form-control ng-pristine ng-valid valid required"  id="dateVal" type="text">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cAbn" class="control-label col-xs-4">ABN</label>
                            <div class ="col-xs-8">
                                <input type="number" required string-to-number maxlength ="11" minlength="9" class="form-control required reAssign ng-valid-maxlength ng-valid-minlength ng-not-empty ng-valid ng-valid-required valid ng-dirty ng-valid-number ng-touched" id="cAbn" ng-model="formData.cAbn" aria-required="true" aria-invalid="false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cTrading" class="control-label col-xs-4">Trading Name</label>
                            <div class="col-xs-8">
                                <input type="text" required class ="form-control required" id="cTrading" ng-model="formData.cTrading">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="dName" class="control-label col-xs-4">Authority Name</label>
                            <div class ="col-xs-8">
                                <input type="text" required class =" onlyAlpha reAssign form-control required" id="dName" ng-model="formData.dName" placeholder="First and Last Name" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cPosition" class="control-label col-xs-4">Position</label>
                            <div class="col-xs-8">
                                 <select class ="reAssign form-control required" id="cPosition" ng-model="formData.cPosition">
                                    <option value ="Director" ng-selected=true required>Director</option>
                                    <option value ="Partner">Partner</option>
                                    <option value ="Owner">Owner</option>
                                    <option value ="Sec. Manager">Sec. Manager</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cTel" class="control-label col-xs-4">Telephone</label>
                            <div class ="col-xs-8">
                                <input type="tel"  required minlength="9" class ="reAssign tel required form-control" id="cTel" ng-model="formData.cTel"  >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cEmail" class="control-label col-xs-4">Email</label>
                            <div class ="col-xs-8">
                                <input type="email" required class ="form-control required" id="cEmail" ng-model="formData.cEmail"  >
                                *Correspondence will be sent to this address.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cContact" class="control-label col-xs-4">Contact Person</label>
                            <div class ="col-xs-8">
                                <input type="text" required  class ="onlyAlpha reAssign required form-control" id="cContact" ng-model="formData.cContact"  >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cMobile" class="control-label col-xs-4">Mobile</label>
                            <div class="col-xs-8">
                                <input type="mob" required  class="reAssign mob required form-control" id="cMobile" ng-model="formData.cMobile" minLength="10" maxlength="12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cAddress" class="control-label col-xs-4">Address</label>
                            <div class ="col-xs-8">
                                <input type="text" class ="form-control required" required id="cAddress" ng-model="formData.cAddress" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cSuburb" class="control-label col-xs-4">Suburb</label>
                            <div class="col-xs-8">
                                <input type="text" required class="form-control required" id="cSuburb" ng-model="formData.cSuburb" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="cState" class="control-label col-xs-4">State</label>
                            <div class ="col-xs-8">

                                <select class ="form-control reAssign required" id="cState" ng-model="formData.cState">
                                    <option value ="">select state</option>
                                    <option value ="ACT" >ACT</option>
                                    <option value ="NSW" >NSW</option>
                                    <option value ="NT">NT</option>
                                    <option value ="QLD">QLD</option>
                                    <option value ="TAS">TAS</option>
                                    <option value ="VIC">VIC</option>
                                    <option value ="WA">WA</option>
                                    <option value ="SA">SA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cPostCode" class="control-label col-xs-4">Post Code</label>
                            <div class="col-xs-8">
                                <input type="number" string-to-number  required maxlength="4"
                                       class="form-control required" id="cPostCode"
                                       ng-model="formData.cPostCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Installation Address</label>

                            <div class="col-xs-6">
                                <label>Same as Company</label>
                                <div class="onoffswitch tick">
                                    <input type="checkbox" id="sameAddress"
                                   class = "onoffswitch-checkbox ">
                                   <label class="onoffswitch-label"  for="sameAddress">
                                     <span class="onoffswitch-inner"></span>
                                     <span class="onoffswitch-switch tickswitch-switch"></span>
                                   </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="pIAddress" class="control-label col-xs-4">Address</label>
                            <div class ="col-xs-8">
                                <input type="text" class ="form-control required reAssign" id="pIAddress"
                                    required   ng-model="formData.pIAddress" ng-change="updateComLocations()" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pISuburb" class="control-label col-xs-4">Suburb</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control reAssign required" id="pISuburb"
                                       required ng-model="formData.pISuburb" ng-change="updateComSuburbs()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="pIState" class="control-label col-xs-4">State</label>
                            <div class ="col-xs-8">
                                <select class ="form-control reAssign required" id="pIState"
                                     required   ng-model="formData.pIState">
                                    <option value ="">select state</option>
                                    <option value ="ACT" >ACT</option>
                                    <option value ="NSW" >NSW</option>
                                    <option value ="NT">NT</option>
                                    <option value ="QLD">QLD</option>
                                    <option value ="TAS">TAS</option>
                                    <option value ="VIC">VIC</option>
                                    <option value ="WA">WA</option>
                                    <option value ="SA">SA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pIPostcode" class="control-label col-xs-4">Post Code</label>
                            <div class="col-xs-8">
                                <input type="number" required  string-to-number maxlength="4" class="form-control required reAssign" id="pIPostcode" ng-model="formData.pIPostcode" ng-change="updateComPostCode()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                           <label for ="wName" class="control-label col-xs-4">Witness Name</label>
                           <div class ="col-xs-8">
                               <input type="text" required class ="onlyAlpha  required  form-control" id="wName"  ng-model="formData.wName">
                           </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                        <div class= "form-group">
                           <label for ="wPosition" class="control-label col-xs-4">Witness Position</label>
                           <div class ="col-xs-8">
                               <input type="text" required class ="onlyAlpha reAssign  required  form-control" id="wPosition"  ng-model="formData.wPosition">
                           </div>
                       </div>
                    </div>
                  </div>
            </fieldset>
            <h1>Direct Debit</h1>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class= "form-group">
                            <label for ="aPaymentMethod" class="control-label col-xs-4">Payment Method</label>
                            <div class ="col-xs-8">
                               <select ng-model="formData.aPaymentMethod" class='form-control reAssign' id='aPaymentMethod'>
                                    <option ng-selected=true  value ="Direct Debit">Direct Debit</option>
                                    <option value ="Credit Card">Credit Card</option>
                                    <option value ="Existing Account">Add to Existing Account</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aTerm" class="control-label col-xs-4">Term</label>
                            <div class="col-xs-8">
                                <select ng-model="formData.aTerm" class='form-control reAssign'  id='aTerm'
                                ng-change="formData=handleTermChange(formData)">
                                    <option ng-selected=true selected value ="60">60 Months</option>
                                    <option value ="48">48 Months</option>
                                    <option value ="36">36 Months</option>
                                    <option value ="24">24 Months</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="formData.aPaymentMethod == 'Existing Account'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class= "form-group">
                                <label for ="aFinInst" class="control-label col-xs-4">Account Number</label>
                                <div class ="col-xs-8">
                                    <input type="text" class ="form-control" id="existsAccNumber" ng-model="formData.existsAccNumber"  >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class= "form-group">
                                <label for ="aFinBranch" class="control-label col-xs-4">Account Name</label>
                                <div class ="col-xs-8">
                                    <input type="text" class ="form-control" id="existsAccName" ng-model="formData.existsAccName"  >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="formData.aPaymentMethod == 'Direct Debit'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class= "form-group">
                                <label for ="aFinInst" class="control-label col-xs-4">Financial Institution</label>
                                <div class ="col-xs-8">
                                    <input type="text" class ="form-control" id="aFinInst" ng-model="formData.aFinInst"  >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class= "form-group">
                                <label for ="aFinBranch" class="control-label col-xs-4">Branch</label>
                                <div class ="col-xs-8">
                                    <input type="text" class ="form-control" id="aFinBranch" ng-model="formData.aFinBranch"  >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="aAccName" class="control-label col-xs-4">Account Name</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" id="aAccName" ng-model="formData.aAccName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class= "form-group">
                                <label for ="aBsb" class="control-label col-xs-4">BSB</label>
                                <div class ="col-xs-8">
                                    <input type="text" only-digits class ="form-control" id="aBsb" ng-model="formData.aBsb"  >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="aAccDetails" class="control-label col-xs-4">Account Number</label>
                                <div class="col-xs-8">
                                    <input type="text" only-digits class="form-control" id="aAccDetails" ng-model="formData.aAccDetails">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="formData.aPaymentMethod == 'Credit Card'">
                    <div class="col-md-12"><label class="col-xs-12">*No Credit Card Information will be stored in the database.</label></div>
                        <div class="col-md-6">
                           <div class= "form-group">
                               <label for ="aCardType" class="control-label col-xs-4">Card Type</label>
                               <div class ="col-xs-8">
                                   <select ng-model="formData.aCardType" class='form-control reAssign' id='aCardType'>
                                       <option  ng-selected=true value ="Mastercard">Mastercard</option>
                                       <option value ="visa">visa</option>
                                   </select>
                               </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                               <label for="aCardNumber" class="control-label col-xs-4">Credit Card Number</label>
                               <div class="col-xs-8">
                                   <input type="text" maxlength="19" minlength="18"
                                          class="form-control ccNo" id="aCardNumber" ng-model="formData.aCardNumber">
                               </div>
                           </div>
                        </div>

                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label for="aCardName" class="control-label col-xs-4">Name on Card</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" id="aCardName" ng-model="formData.aCardName">
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6" ng-if="formData.aPaymentMethod=='Credit Card'">
                                <div class="form-group">
                                     <label for="aCardExpiry" class="control-label col-xs-4">Card Expiry</label>
                                     <input type="hidden" ng-model="formData.aCardExpiry" id="aCardExpiry" />
                                        <div class="col-xs-8">
                                            <div class="col-xs-6">
                                                <label id="aCardExpiryMonth-error" class="error" for="aCardExpiryMonth" style="display: none;"></label>
                                                <select ng-change="updateCardExpiry(formData.aCardExpiryYear,formData.aCardExpiryMonth)" ng-model="formData.aCardExpiryMonth" id="aCardExpiryMonth" class="form-control reAssign required ng-pristine ng-valid ng-empty error ng-touched" aria-required="true" aria-invalid="true">
                                                    <option disabled selected value>Month</option>
                                                    <option ng-repeat="month in months" value="{{$index+1}}" > {{$index+1}} - {{month}}</li>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <label id="aCardExpiryYear-error" class="error" for="aCardExpiryYear" style="display: none;"></label>
                                                <select ng-change="updateCardExpiry(formData.aCardExpiryYear,formData.aCardExpiryMonth)" ng-model="formData.aCardExpiryYear" id="aCardExpiryYear" class="form-control reAssign required ng-pristine ng-valid ng-empty error ng-touched" aria-required="true" aria-invalid="true">
                                                    <option disabled selected value>Year</option>
                                                    <option ng-repeat="year in [] | range:currentYear:currentYear+20">{{year}}</option> 
                                                </select>
                                            </div>
                                            <!-- <div class="input-group date">
                                                <input class="form-control reAssign ng-pristine ng-valid valid" id="aCardExpiry" required type="text">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div> -->
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!--
                <div class="col-md-6">

                        <div class="form-group">
                            <label for="aClientNumber" class="control-label col-xs-4">Client Number</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="aClientNumber" ng-model="formData.aClientNumber">
                            </div>
                        </div>
                    </div>

                      <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-xs-4">Request Status</label>
                            <div class="col-xs-8">
                                <div class="onoffswitch requestType ">
                                    <input type="checkbox" name="formTypes" class="onoffswitch-checkbox"
                                                  ng-model="formData.requestType" ng-checked =true
                                                 ng-true-value="'New'" ng-false-value="'Amendment'"  id = "requestType">
                                    <label class="onoffswitch-label" for="requestType">
                                            <span class="onoffswitch-inner onoffswitch-requestType"></span>
                                            <span class="onoffswitch-switch requestType-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    !-->
                <div class= "form-group">
                    <div class ="col-xs-10 pull-right">
                        <button class="btn btn-success"  id="save" style="display:none" type="submit" ng-click="load()">Load</button>
                       <!-- <button class="btn btn-success" type="submit" ng-click="reset()">Reset</button> -->
                    </div>
                </div>
            </fieldset>
            <h1>Forms</h1>
            <fieldset>
               <p id ="errorType">*Please select one form</p>
                <!--<div id="dd" class="wrapper-dropdown-3" tabindex="1" >
                    <span>Transport</span>
                    <ul class="dropdown-new">
                            <li><a href="#"><i class="fa fa-envelope fa-large"></i>Classic mail UPS DeliveryUPS </a></li>
                            <li><a href="#"><i class="fa-truck fa-large"></i>UPS Delivery</a></li>
                            <li><a href="#"><i class="fa-plane fa-large"></i>Private jet</a></li>
                            <li><a href="#"><i class="fa-plane fa-large"></i>Private jet</a></li>
                    </ul>
                 </div>-->

                <div class="col-md-5 col-lg-5 col-sm-5 accordion-wrapper">
                    <accordion ng-model="oneAtATime">
                        <accordion-group is-open="istel">
                            <accordion-heading>
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': istel, 'glyphicon-chevron-right': !istel}"></i>
                                    Alarm Monitoring Solutions
                                <i class="glyphicon green-font" ng-class="{'glyphicon-ok': checkGroupSigned(formData.type, 'telecomService') }"></i>
                                <span class="red-font" ng-show="formData.type.configApp == true && !checkGroupSigned(formData.type, 'telecomService')">will not be sent</span>
                            </accordion-heading>
                            <div ng-switch on="istel" >
                                <div class="row form-row">
                                    <div class="row-element">
                                        <label> <i class="fa green-font" ng-class="{'fa-check-square-o':isSigned('monitoring_solution', formData.type.monitoring_solution )}"></i>Alarm Monitoring Service Agreement</label>
                                    </div>
                                    <div class="row-element">
                                        <div class="onoffswitch tick" ng-click="showOptions('monitoring_solution')">
                                             <input type="checkbox" name="formTypes" class="finance onoffswitch-checkbox"
                                                    ng-model="formData.type.monitoring_solution" ng-checked="formData.type.monitoring_solution==true"
                                                   ng-true-value=true ng-false-value=false  id = "monitoring_solution">
                                             <label class="onoffswitch-label" for="monitoring_solution">
                                                     <span class="onoffswitch-inner"></span>
                                                     <span class="onoffswitch-switch tickswitch-switch"></span>
                                             </label>
                                         </div>
                                    </div>
                                    <div class="edit-icon" ng-click="showOptions('monitoring_solution')" ng-if="formData.type.monitoring_solution==true">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7">
                    <div class="row optionBox" id ='monitoring_solutionOption' ng-show="formData.type.monitoring_solution==true">
                        <div class="form-row blue"><b>Alarm Monitoring Solutions Options</b></div>
                        <div class="row form-row">
                            <div class="row-element-label">
                                <label for="alarmPlans-0" class="control-label">Recurring Service Charge</label>
                            </div>
                            <div class ="row-element-field">
                                <select class ="reAssign form-control" id="alarmPlans" ng-model="formData.alarmPlans" ng-options="plan.description + ' - ' + dollarSign(plan.price) for plan in recurring_services">
                                </select>
                            </div>
                        </div>
                        <div class="row form-row">
                             <div class="row-element-label">
                                <label for ="transactionDetails" class="control-label">Transaction Details</label>
                            </div>
                            <div class ="row-element-field">
                                    <input type="text" class ="form-control required valid" required id="transactionDetails" ng-model="formData.transactionDetails" >
                            </div>
                        </div>
                        <div class="row form-row">
                             <div class="row-element-label">
                                <label for ="hardwareInstalled" class="control-label">Hardware Installed</label>
                            </div>
                            <div class ="row-element-field">
                                    <input type="text" class ="form-control required valid" required id="hardwareInstalled" ng-model="formData.hardwareInstalled">
                            </div>
                        </div>
                        <div class="row form-row">
                             <div class="row-element-label">
                                <label for ="monitoredServices" class="control-label">Monitored Services</label>
                            </div>
                            <div class ="row-element-field">
                                    <input type="text" class ="form-control required valid" required id="monitoredServices" ng-model="formData.monitoredServices">
                            </div>
                        </div>
                        <div class="row form-row">
                             <div class="row-element-label">
                                <label for ="panelType" class="control-label">Panel Type</label>
                            </div>
                            <div class ="row-element-field">
                                    <input type="text" class ="form-control required valid" required id="panelType" ng-model="formData.panelType">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div>
                                <label class="control-label">Services Includes : </label>
                            </div>
                        </div>
                        <div class="row form-row" ng-if="formData.alarmPlans.price==89">
                            <div>
                                <label class="control-label">- Professional Technician Installation of MPM device</label>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div>
                                <label class="control-label">- Monitoring Centre including hourly tests calls</label>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div>
                                <label class="control-label">- Access to remote Activate/Deactivate alarm</label>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div>
                                <label class="control-label">- Communications Network Charges</label>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div>
                                <label class="control-label">- Patrol Response* ($75 for first 20 Minutes and $15 for each subsequent 15 minutes)</label>
                            </div>
                        </div>
                        <div class='row form-row'>
                            <button class="btn btn-info" type="button" ng-click="signDocument('alarm_monitor', formData)">Sign Document </button>
                            <!-- <button class="btn btn-info" type="button" ng-click="saveDraftForm('billing_app', formData)">Save Document as Draft </button> -->
                        </div>
                    </div>
                </div>
            </fieldset>
            <span ng-click="setValues()">[]</span>
            <div class='row'>
                <div class="col-md-12">
                    <button class="btn btn=green pull-right" ng-click="sendAsDraft()" id="sendDraft">Send Draft</button>
                    <button class="btn btn-green pull-right" id="form-save-btn" ng-click="saveAsDraft(formData)">Save Data</button>                    
                </div>
            </div>
        </form>
        <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>

<div id ="testDi" >
    <div id ="signatureBox"></div>
    <button class="btn btn-primary pull-center" onclick="useSign()" ng-click="tada()" id="iAccept"> I accept the terms and conditions</button>
</div>

</div>


</div>
 <div></div>
<script>
    var signedTimeStamps = new Array();
   /*     function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.dropdown-new > li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        return false;
                                                  console.log(obj.val);
                    });

                    obj.opts.on('click',function(){
                        var opt = $(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                                                console.log(obj.val);
                        obj.placeholder.text(obj.val);
                    });
                },
                getValue : function() {
                    return this.val;
                },
                getIndex : function() {
                    return this.index;
                }
            }
*/
        function useSign() {
            var id = $('#iAccept').attr('data-id');
            var currentDate = new Date();
            var signedTS = $("<div class='signTimeStamp' style='font-weight:300;font-size:8pt' >"+(currentDate.getHours() < 10 ? "0" : "") + currentDate.getHours() + ":" + (currentDate.getMinutes() < 10 ? "0" : "") + currentDate.getMinutes() + ":" + (currentDate.getSeconds() < 10 ? "0" : "") + currentDate.getSeconds()+" "+currentDate.getDate()+"-"+(currentDate.getMonth()+1)+"-"+currentDate.getFullYear()+"</div>");
            var sign = $("<img class='imported' height=36 ></img>")
                            .attr("src",$('#signatureBox').jSignature('getData'));

            $('#'+id).html(sign);
            $('#'+id).append(signedTS);
            $("#testDi").dialog("close");

            var signedTimeStamp = {};
            signedTimeStamp.form_name = id;
            signedTimeStamp.id = '';
            signedTimeStamp.timestamp = currentDate;

            signedTimeStamps.push(signedTimeStamp);
        }

        function clearSg(id) {
            $("#"+id).jSignature("reset");
        }

        $(document).ready(function() {
            $("#testDi").dialog({
                autoOpen: false,
                hide: { effect: "fadeout", duration: 200 },
                width: 525,
                height: 215,
                zIndex:2000,
                modal:true
            });

            /*
            var dd = new DropDown( $('#dd') );
            $(document).click(function() {
                // all dropdowns
                $('.wrapper-dropdown-3').removeClass('active');
            });
            */
            //alert($('#editId').val());
            //$("#wizard").steps();
            // console.log($("#formData"));
            $(formData).steps({
                    bodyTag: "fieldset",
                    headerTag : "h1",
                    transitionEffect: "slideLeft",
                    onStepChanging: function (event, currentIndex, newIndex)
                    {

                        // Always allow going backward even if the current step contains invalid fields!
                        if (currentIndex > newIndex)
                        {
                            return true;
                        }

                        var form = $("#formData");

                        // Clean up if user went backward before
                        if (currentIndex < newIndex)
                        {
                            // To remove error styles
                            $(".body:eq(" + newIndex + ") label.error", form).remove();
                            $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                        }


                        var fieldSetValidate = $("#formData fieldset");
                        var retVal = true;
                        $("#formData").validate().settings.ignore = ":disabled,:hidden";
                        fieldSetValidate.each(function(index, val) {
                          if (index == currentIndex) {
                               if ($(this).find(".required").length != 0) {
                                 if(!$(this).find(".required").valid()) {
                                     retVal = false;
                                 }
                               }
                               if (retVal == false) {
                                   return retVal;
                               }
                          }

                        });
                        return retVal;
                    },
                    onStepChanged: function (event, currentIndex, priorIndex)
                    {
                        // Trigger "Save Data" button when moving to next step.
                         if(currentIndex == 2){
                            var button = $(this).find('a[href="#finish"]');
                            button.show();
                        }
                        $('#form-save-btn').trigger('click');
                        
                        
                        // Suppress (skip) "Warning" step if the user is old enough.
                       /*
                        if (currentIndex === 2)
                        {
                            $(this).steps("next");
                        }

                        // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                        if ((currentIndex === 2 && priorIndex === 3) || (currentIndex === 3 && priorIndex === 4))
                        {
                            $(this).steps("previous");
                        }
                        */
                    },
                    onFinishing: function (event, currentIndex)
                    {
                        var form = $(this);

                        //$('#ProposalCtrl').scope().save();
                        //angular.element(document.getElementById('ProposalCtrl')).scope().$apply();
                        //angular.element('#ProposalCtrl').scope().save();

                        $( "#buttomSaveNgh" ).click();
                        $("#save").click();

                        // Disable validation on fields that are disabled.
                        // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                        form.validate().settings.ignore = ":disabled";

                        // Start validation; Prevent form submission if false
                        return form.validate();
                    },
                    onFinished: function (event, currentIndex)
                    {
                        var form = $(this);

                         //form.resetForm();
                         form[0].reset();

                        // Submit form input
                        //form.submit();
                    },
                    onCanceled: function (event, currentIndex) {
                        location.reload();
                    }
                }).validate({
                    errorPlacement: function (error, element)
                    {
                        element.before(error);
                    },
                    rules: {
                        confirm: {
                            equalTo: "#password"
                        }
                    }
                });
            var button = $(this).find('a[href="#finish"]');
            button.hide();
            $('#sendDraft').hide();
        });
    </script>
