<style>
    @page {
        sheet-size : A4;
        margin: 0%;
    }
    @page cover {
         margin-header:0mm;

    }
    div.cover {
        page-break-before: right;
        page: cover;
    }
    @page pages {
        odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
        font-family: san-serif;

    }
    div.pages {
        page: pages;
         font-family: sans-serif;
    }
</style>
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<link href = "/assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>
<div class="pages text-grey pageBreaker">
<!--     <h4 class="redText text-center" style="padding-top: 20px; margin-bottom: 0;">Alarm Monitoring Service Agreement</h4>
    <h4 class="text-center">Advanced Monitoring Solution</h4> -->
    <table>
        <tr>
            <td colspan="3"class="spec-right"><img src="assets/images/omni.png"></td>
        </tr>
        <tr>
            <td colspan="3" class="redText spec-center">Alarm Monitoring Service Agreement</td>
        </tr>
        <tr>
            <td colspan="3"><p style="font-size: smaller">By executing this Application for Alarm Monitoring Services (“Application”), You agree to the terms and conditions by which Secure 365 Pty Ltd ABN 40 622 718 236 of  Level 2, 460 Church Street North Parramatta NSW 2151 Trading as <b>Omniview monitoring</b> will provide you with alarm monitoring services.</p></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Company Name : <b>{{formData.cName}}</b></td>
            <td style="border: 1px solid black">Contact : <b>{{formData.cContact}}</b></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Address : <b>{{formData.cAddress}}</b></td>
            <td style="border: 1px solid black">Representative : <b>{{formData.dName}}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid black">Telephone : <b>{{formData.cTel}}</b></td>
            <td style="border: 1px solid black">Email : <b>{{formData.cEmail}}</b></td>
            <td style="border: 1px solid black">Mobile : <b>{{formData.cMobile}}</b></td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid black">Address : <b>{{formData.cAddress}}</b></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <span>Transaction Details - <b>{{formData.transactionDetails}}</b></span>
            </td>
            <td>
                <span>Monitored Services - <b>{{formData.monitoredServices}}</b></span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Hardware Installed - <b>{{formData.hardwareInstalled}}</b></span>
            </td>
            <td>
                <span>Existing Panel Type - <b>{{formData.panelType}}</b></span>
            </td>
        </tr>
    </table>
    <table class="full-width config-table text-grey table-border-outside">
        <tbody>
            <tr>
                <td colspan="2" class="redText">RECURRING SERVICES CHARGES</td>
            </tr>
            <tr>
                <td>{{formData.alarmPlans.description}}</td>
                <td class="form-data">${{formData.alarmPlans.price}} per month</td>
            </tr>
            <tr>
                <td>Agreement Term (Min Term 36 months)</td>
                <td class="form-data">{{formData.aBillingTerm}} Months</td>
            </tr>
        </tbody>
    </table>

    <table class="full-width config-table text-grey table-border-outside">
        <tbody>
            <tr>
                <td class="redText" colspan="2">Service</td>
            </tr>
            <tr ng-if="formData.alarmPlans.price==89">
                <td>Professional Technician installation of MPM device</td>
                <td class="form-data">Included</td>
            </tr>
            <tr>
                <td>Monitoring Center including hourly test calls</td>
                <td class="form-data">Included</td>
            </tr>
            <tr>
                <td>Access to remote Activate/Deactivate alarm</td>
                <td class="form-data">Included</td>
            </tr>
            <tr>
                <td>Communications Network Charges</td>
                <td class="form-data">Included</td>
            </tr>
            <tr>
                <td rowspan="2" valign="middle">Patrol Response*</td>
                <td class="form-data">$ 75 for first 20 Minutes</td>
            </tr>
            <tr>
                <td class="form-data">$ 15 for each subsequent 15 minutes</td>
            </tr>
        </tbody>
    </table>

    <!-- <table class="full-width config-table text-grey table-border-outside">
        <tbody>
            <tr>
                <td colspan="2">SALE / INSTALLATION CHARGES</td>
            </tr>
            <tr>
                <td>NBN/ 3G Wireless Unit, including installation RRP $899 (ex GST)</td>
                <td class="form-data">Included</td>
            </tr>
        </tbody>
    </table> -->
    <table class="full-width text-grey config-table">
        <tr>
          <td><span class="redText"><b>CUSTOMER ACCEPTANCE</b></span> I am Authorised to sign this Agreement on behalf of the Customer: (a) I have read and accepted the standard Terms and Conditions of the Alarm Monitoring Service Agreement (b) have received statements/notices as prescribed by the law; (c) promise that the Customer and Payment details disclosed are correct; (d) authorise the collection, use and disclosure of any information obtained in connection with this Agreement for commercial purposes; (e) agree that Omniview Monitoring may subcontract the Monitoring Service to another Firm Licensee; (f) agree that a commission may be paid to any person who introduces the Customer. The Australian Security Industry Association Limited ABN 91 000 813 365 (“ASIAL”) is not a party to this Agreement. I/We acknowledges that ASIAL is under no obligation to provide any service to Customer. This Agreement is subject to the laws of Australia. All pricing noted excludes GST.
          </td>
        </tr>
        <tr>
          <td>I have read and accepted the standard Terms and Conditions of the Alarm Monitoring Service Agreement.
          </td>
        </tr>
    </table>

    <table class="full-width text-grey config-table">
        <tr>
            <td>Authorized Customer Representative:</td>
            <td class="form-data"><b>{{formData.dSName}}</b></td>
            <td rowspan="2">Signature:</td>
            <td rowspan="2" class="item-text signature signatureImg signItem"
                id ="monitoring-rep-sg" ng-click='sign("monitoring-rep-sg")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('monitoring-rep-sg')" ng-bind="getSignTime('monitoring-rep-sg')"></span>
                     <span ng-if="!isSigned('monitoring-rep-sg')">Representative Signature here</span>
                 </b>
            </td>
        </tr>
        <tr>
            <td>Position:</td>
            <td class="form-data">
                <span ng-if="formData.cPosition=='Director'">Director</span>
               <span ng-if="formData.cPosition=='Partner'">Partner</span>
               <span ng-if="formData.cPosition=='Owner'">Owner</span>
               <span ng-if="formData.cPosition=='Sec. Manager'">Sec. Manager</span>
               <span ng-if="formData.cPosition==''"></span>
            </td>
        </tr>
        <tr>
            <td>Omniview Monitoring Representative:</td>
            <td class="form-data"><b>{{formData.wName}}</b></td>
            <td rowspan="2">Signature:</td>
            <td rowspan="2" class="item-text signature signatureImg signItem"
                id ="billing-wit-sg" ng-click='sign("billing-wit-sg")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('billing-wit-sg')" ng-bind="getSignTime('billing-wit-sg')"></span>
                     <span ng-if="!isSigned('billing-wit-sg')">Representative Signature here</span>
                 </b>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td class="form-data"><b>{{formData.dateVal}}</b></td>
        </tr>
        <tr>
            <td colspan="4">PRIVACY CLAUSE: Personal Information is collected for the primary purpose of processing orders and providing the Monitoring Service. It is never sold or rented. Customer may withdraw consent at any time in writing. If a written Privacy Policy is required by law, a copy of the policy may be obtained by contacting the Monitoring Company.</td>
        </tr>
    </table>
</div>
<pagebreak>
<div class="pages text-grey pageBreaker">
    <p class="spec-right"><img src="assets/images/omni.png"></p>
    <p><span class="redText"><b>CUSTOMER DIRECT DEBIT REQUEST (DDR) service agreement</b></span></p>
    <p>This is your Direct Debit Service Agreement with Secure 365 Pty Ltd trading as Omniview monitoring (314011). It explains what your obligations are when undertaking a Direct Debit arrangement with us. It also details what our obligations are to you as your Direct Debit provider. Please keep this agreement for future reference. It forms part of the terms and conditions of your Direct Debit Request (DDR) and should be read in conjunction with your DDR authorisation.</p>
    <p><span class="redText"><b>DIRECT DEBIT FORM</b></span></p>
    <p>You authorise and request Secure 365 Pty Ltd trading as Omniview monitoring (user ID No. 314011) to debit your nominated account shown below: </p>

    <table class="full-width config-table">
        <tr>
            <td colspan="5">Full Name : <b>{{formData.cName}}</b></td>
        </tr>
        <tr>
            <td colspan="3">Address : <b>{{formData.cAddress}}</b></td>
            <td>State : <b>{{formData.cState}}</b></td>
            <td>Postcode : <b>{{formData.cPostCode}}</b></td>
        </tr>
    </table>
    <table class="full-width text-grey config-table">
        <tr>
            <td colspan="2"><span class="redText"><b>Bank Acount payment authority</b></span></td>
        </tr>
        <tr>
            <td>Name of Financial Institution : <b>{{formData.aFinInst}}</b></td>
            <td>Branch : <b>{{formData.aFinBranch}}</b></td>
        </tr>
        <tr>
            <td colspan="2">Account Name : <b>{{formData.aAccName}}</b></td>
        </tr>
        <tr>
            <td>BSB Number : <b>{{formData.aBsb}}</b></td>
            <td>Account Number : <b>{{formData.aAccDetails}}</b></td>
        </tr>
        <tr>
            <td>Date of first payment : <b></b></td>
            <td>Frequency : <b>monthly</b></td>
        </tr>
    </table>
    <table class="full-width text-grey config-table">
        <tr>
            <td>Signature 1 : </td>
            <td class="item-text signature signatureImg signItem"
                id ="billing-wit-sg" ng-click='sign("monitoring-sg1")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('monitoring-sg1')" ng-bind="getSignTime('monitoring-sg1')"></span>
                     <span ng-if="!isSigned('monitoring-sg1')">Representative Signature here</span>
                 </b>
            </td>
            <td>Name : <b></b></td>
            <td>Date : <b>{{formData.dateVal}}</b></td>
        </tr>
        <tr>
            <td>Signature 2 : </td>
            <td class="item-text signature signatureImg signItem"
                id ="billing-wit-sg" ng-click='sign("monitoring-sg2")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('monitoring-sg2')" ng-bind="getSignTime('')"></span>
                     <span ng-if="!isSigned('monitoring-sg2')">Representative Signature here</span>
                 </b>
            </td>
            <td>Name : <b></b></td>
            <td>Date : <b>{{formData.dateVal}}</b></td>
        </tr>
    </table>
    <div ng-if ="formData.aPaymentMethod=='Credit Card'">
        <span class="redText"><b>Credit card payment authority</b></span>
    </div>
    <table class="table-border-outside text-grey full-width config-table">
        <tr>
            <td>Card Type : <b>{{formData.aCardType}}</b></td>
        </tr>
        <tr>
            <td>Card Number : <b>{{formData.aCardNumber}}</b></td>
        </tr>
        <tr>
            <td>Expiry Date : {{formData.aCardExpiry}}</td>
        </tr>
        <tr>
            <td>Note : Visa and Mastercard only.</td>
        </tr>
        <tr>
            <td>Signature : </td>
            <td class="border-cell greenText signature signatureImg signItem" ng-click="sign('confCCSign')" id="confCCSign">
                <div ng-if="!isDraftMode()">
                    <span ng-if="isSigned('confCCSign')">{{ getSignedTime('confCCSign') }}</span>
                    <span ng-if="!isSigned('confCCSign') && (!isDraftMode())">Sign Here</span>
                </div>
            </td>
            <td>Name : <b>{{formData.aCardName}}</b></td>
            <td>Date : <b>{{formData.dateVal}}</b></td>
        </tr>
    </table>
    <div>
        <span class="redText"><b>How to contact us  Enquiries</b></span>
    </div>
    <div>
        <p>You can contact us directly or alternatively contact your financial institution. Any updates to the direct debit request should be made at least 7 working days prior to the next scheduled drawing date. You may contact us as follows‐<br />
        Phone: 1300 848 878<br />
        Email: support@omniview.com.au Mail: PO Box 2267 North Parramatta, NSW 1750<br />
        All communication addressed to us should include your Customer Number.<br /></p>
    </div>
</div>
<pagebreak>
<div class="pages text-grey pageBreaker">
    <p class="spec-right"><img src="assets/images/omni.png"></p>
    <p class="redText">DIRECT DEBIT FORM</p>
    <p class="redText">Defintions</p>
    <p>Defintions</p>
        <b>account</b> means the account held at your financial institution from which we are authorised to arrange for funds to be debited. <br />
        <b>agreement</b> means this Direct Debit Request Service Agreement between you and us.<br />
        <b>banking</b> day means a day other than a Saturday or a Sunday or a public holiday listed throughout Australia. debit day means the day that payment by you to us is due.<br />
        <b>debit payment</b> means a particular transaction where a debit is made.<br />
        <b>direct debit</b> request means the Direct Debit Request between us and your debit day means the day that payment by you to us is due.<br />
        <b>us</b> or <b>we</b> means Secure 365 Pty Limited ABN 40 622 718 236 in and, where the context permits, includes any of our related bodies corporate.<br />
        <b>you</b> means the customer who has signed or authorised by other means the Direct Debit Request.<br />
        <b>your financial institution</b> means the financial institution nominated by you on the DDR at which the account is maintained.<br /> 
        <b>PPSA</b> means the Personal Property Securities Act 2009 (Cth).<br />
        <b>PPS Register</b> means the Personal Property Securities Register established under Part 5.2 of the PPSA. <br />
        <b>PPS Regulations</b> means the Personal Property Securities Regulations 2010 (Cth).<br />
        <b>PPS Security Interest</b> means a security interest under the PPSA.<br />
        <b>Serial Numbered Property</b> means any Goods whi1ch may or must be described by serial number in a registration under the PPSA.<br />
    </p>
    <p>
        <span class="redText">Debiting your account</span> By signing a Direct Debit Request or by providing us with a valid instruction, you have authorised us to arrange for funds to be debited from your account. You should refer to the Direct Debit Request and this agreement for the terms of the arrangement between us and you. We will only arrange for funds to be debited from your account as authorised in the Direct Debit Request. Or We will only arrange for funds to be debited from your account if we have sent to the address nominated by you in the Direct Debit Request, a billing advice which specifies the amount payable by you to us and when it is due. If the debit day falls on a day that is not a banking day, we may direct your financial institution to debit your account on the following banking day. If you are unsure about which day your account has or will be debited you should ask your financial institution.
    </p>
    <p>
        <span class="redText">Amendments by us</span> We may vary any details of this agreement or a Direct Debit Request at any time by giving you at least fourteen (14) days written notice.
    </p>
    <p>
        <span class="redText">Amendments by you</span> You may change, stop or defer a debit payment, or terminate this agreement by providing us with at least 7 days notification by writing to: PO Box 2267 North Parramatta, NSW 1750 or by telephoning us on 1300 763 738 during business hours; or arranging it through your financial institution, which is required to act promptly on your instructions.
    </p>
    <p>
        <span class="redText">Your obligations</span> It is your responsibility to ensure that there are suﬃcient clear funds available in your account to allow a debit payment to be made in accordance with the Direct Debit Request.<br />
If there are insuﬃcient clear funds in your account to meet a debit payment:<br />
•   you may be charged a fee and/or interest by your financial institution;<br />
•   you may also incur fees or charges imposed or incurred by us; and<br />
•   you must arrange for the debit payment to be made by another method or arrange for suﬃcient clear funds to be in your account by an agreed time so that we can process the debit payment.<br />
You should check your account statement to verify that the amounts debited from your account are correct.
    </p>
    <p>
        <span class="redText">Dispute</span> If you believe that there has been an error in debiting your account, you should notify us directly on1300 763 738 and confirm that notice in writing with us as soon as possible so that we can resolve your query more quickly. Alternatively you can take it up directly with your financial institution.<br />
If we conclude as a result of our investigations that your account has been incorrectly debited we will respond to your query by arranging for your financial institution to adjust your account (including interest and charges) accordingly. We will also notify you in writing of the amount by which your account has been adjusted. If we conclude as a result of our investigations that your account has not been incorrectly debited we will respond to your query by providing you with reasons and any evidence for this finding in writing.<br />
    </p>
    <p>
        <span class="redText">Accounts</span> You should check:<br />
•   with your financial institution whether direct debiting is available from your account as direct debiting is not available on all accounts oﬀered by financial institutions.<br />
•   your account details which you have provided to us are correct by checking them against a recent account statement;<br />
•   with your financial institution before completing the Direct Debit Request if you have any queries about how to complete the Direct Debit Request.<br >
    </p>
    <p>
        <span class="redText">Confidentiality</span> We will keep any information (including your account details) in your Direct Debit Request confidential. We will make reasonable eﬀorts to keep any such information that we have about you secure and to ensure that any of our employees or agents who have access to information about you do not make any unauthorised use, modification, reproduction or disclosure of that information.<br >
We will only disclose information that we have about you:<br />
•   to the extent specifically required by law; or<br />
•   for the purposes of this agreement (including disclosing information in connection with any query or claim).
    </p>
    <p>
        <span class="redText">Notice</span> If you wish to notify us in writing about anything relating to this agreement, you should write to<br />
Omniview<br />
PO Box 2267 North Parramatta, NSW 1750<br />
We will notify you by sending a notice in the ordinary post to the address you have given us in the Direct Debit Request. Any notice will be deemed to have been received on the third banking day after posting.
    </p>
</div>
<pagebreak>
<div class="pages text-grey pageBreaker" style="padding: 10px;">
    <p align="right"><img src="assets/images/omni.png"></p>
    <p class="config-large-text" style="margin-bottom: 0;">Alarm monitoring Terms and conditions</p>
    <p>
        <b>1.DEFINITIONS & INTERPRETATION</b>
        “Alarm” means the alarm system installed in the alarmed premises described in the Commissioning Sheet.
        <br>
        “Commissioning Sheet” means the written instructions from Customer to the Secure 365 Pty Ltd detailing equipment response procedures and Customer’s voice codes or passwords.
        <br>
        “Monitoring Service” means around-the- clock monitoring of the Alarm for alarm signals and, if selected by the Customer, opening and closing signals and/or other security services. “Term” means the period selected by the Customer overleaf commencing from the day the Monitoring Service is first provided after the expiration of the cooling-off period.
        <br>
        This Agreement will be interpreted so as to be consistent with the law and should any provisions of the Agreement be inconsistent with the law, then the same shall be severed so as to permit the balance of the Agreement to operate to the fullest extent permitted by law.
    </p>

    <p>
        <b>2. MONITORING SERVICE</b>
        The Member agrees to use due care and skill or use due care and skill to choose a
        subcontractor to provide the Monitoring Service during the Term for alarm signals and/or other recurring services selected by the Customer.
        <br>
        The Customer acknowledges that the Member does not warrant that the Monitoring Service will render the alarmed premises or any occupant of the alarmed premises secure.
        <br>
        The Member will action alarm signals emanating from the Alarm in accordance with the Commissioning Sheet.
        <br>
        The Member will use its best endeavours to engage a patrol response contractor to provide a timely response to actionable alarm signals, however, makes no warranty that patrol response will be available at any time, if at all. The Member will not be liable for any loss or damage the Customer may suffer in connection with any response or the absence of any Alarm response.
        <br>
        The Customer acknowledges that independent contractors, where available, may provide patrol response. Accordingly, patrol response fees may vary from area to area and during the course of the Term. The Customer agrees to promptly pay or reimburse the Member for patrol response fees, which may include an administration fee. The Member will advise the Customer of applicable patrol response fees upon request by the Customer.
        The Customer agrees that the Monitoring Service provider may record all telephone conversations or other communications with the monitoring centre. The Member discloses that any providers of a monitoring service may receive a rebate from the telephone service provider.
    </p>

    <p>
        <b>3. CUSTOMERS’ RESPONSIBILITIES</b>
        The Customer will immediately advise the Member, in writing, of any changes to the Commissioning Sheet.
        <br>
        The Customer will at their cost maintain the Alarm in good working order in accordance with manufacturer’s requirements, including recharging or replacing batteries on a timely basis. The obligations of the Member to provide the Monitoring Service and to action alarm signals are conditional upon the Alarm being operational, in accordance with the manufacturer’s requirements, to the satisfaction of the Member.
        <br>
        The Customer will ensure that all voice codes, passwords, radio keys and other security devices are kept secure and provided only to those persons who reasonably require access to the alarmed premises.
        <br>
        The Customer cannot transfer or try to transfer the right to receive the Monitoring Service or any other right under this Agreement to anyone else. The Member may transfer any of its rights under this Agreement.
    </p>

    <p>
        <b>4. MONITORING SERVICE CHARGES</b>
        The Customer will pay the Member the monitoring fees by the method selected by the Customer overleaf. The Member will not process the payment of the first period’s monitoring fee until after the expiration of any applicable cooling-off period.
        <br>
        Where payment by credit card is selected, the Member will arrange for the credit card provider to debit the Customer’s account as instructed by the Customer overleaf.
        <br>
        Where payment by invoice is selected, the Customer will pay invoiced amount within 14 days of the date of the invoice.
        <br>
        Where the Monitoring Service has been subcontracted, the Secure 365 Pty Ltd shall provide the Customer with particulars of the subcontractor required by any relevant legislation.
        <br>
        The monitoring fee may increase at any
        time providing the Customer receives three– (3)
        months’ written notice.
        The Customer will pay on demand any goods and services tax (“GST” or “other”) payable in respect of any services provided to the Customer pursuant to this Agreement.
        <br>
        The Customer will pay on demand a fee of
        $25.00, to cover bank and/or administration charges, whenever a monitoring fee is not paid as and when due. The Member may collect this fee directly from the Customer or may act with the Customer’s credit card provider or Financial Institution to collect the fee.
    </p>

    <p>
        <b>5. TERMINATION</b>
        Upon expiration of the Term, this Agreement will continue on a month-to-month basis subject to termination by either party with one month’s written notice.
        <br>
        The Member, at its discretion, may immediately suspend the Monitoring Service or terminate this Agreement where the Customer does not pay any fee or other money payable by the Customer when due, or otherwise breaches any of the Customer’s obligations under this Agreement.
        <br>
        On termination of this Agreement by the Member, the Customer’s right to receive the Monitoring Service will cease and:
        The Customer will immediately pay to the Member all amounts due by the Customer for the Term; and
        The Member may recover from the Customer the amount of any direct loss or damage sustained as a result of the termination.
        <br>
        On termination of the Monitoring Service, it is the Customer’s responsibility to ensure that an alternative service is arranged if required, and the panel is deprogrammed to stop reporting to the Member thus ensuring all communication costs are cancelled. Any signals received after the termination of the
        Monitoring Service will not be treated as critical and would not be actioned by the Member.
    </p>

    <p>
        <b>6. INDEMNITIES AND LIMITATION OF ANY LIABILITY ACKNOWLEDGEMENT</b>
        The Member or its subcontractor shall not be liable for any indirect or consequential loss or damage which the Customer may suffer, whether arising from the Member’s or Subcontractor’s negligence or otherwise resulting from:
        <br>
        Any cause whatever, including provision of or failure to provide the Monitoring Service; or
        <br>
        The Customer’s use of or reliance upon the Monitoring Service including patrol response.
        <br>
        The liability of the Member (if any) in connection with this Agreement (including liability for negligence) is limited to the cost of supplying the Monitoring Service again.
        <br>
        The Member or any subcontractor is not liable for any loss or damage the Customer may suffer if the Member cannot do what it has promised because of events beyond its reasonable control.
        <br>
        Clause 6 survives termination of this Agreement.
    </p>
</div>