<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style>  
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['nbn'] track by $index">
    <div class="row space60"></div>
    <table style="width:100%">
        <tr>
            <td rowspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
          
            <td class="form-title"> NEXGEN DATA RATE CARD</td>
        </tr>
    </table>
    <table class ="table-bordered rate-table cap-plan-table">
        <tr>
            <th  class ="title pull-center less-padding " colspan="6">
               NBN Monthly Plan
            </th>
        </tr>     
        <tr class="black less-padding">
            <td class="title" colspan="6">{{formData.comLocation['nbn'][index]}}</td>
        </tr>
        <tr class="rate font-grey">
            <td colspan='4' class="form-data"><b>{{nbn.plan[index].desc}}</b>
            </td>               
            <td colspan='2' class="form-data"><b>${{nbn.plan[index].rate}}</b></td>
        </tr>
        <tr class="rate font-grey" ng-if="formData.voiceCompAnalougeNBNMonthly[index]!=0">
            <td colspan='4' class="form-data"><b>Nexgen Office Analogue <i>({{formData.voiceCompAnalougeNBNMonthly[index]}} line(s) @ 39.95 p/mnth per line)</i>
                            </b>
            </td>
            <td colspan='2' class="form-data"><b>${{roundVal(nbn.analoguePrice[index])}}</b></td>
        </tr>
        <tr class="less-padding">
            <td class="title less-padding " colspan="6"> Download Allowance 
            </td>
        </tr>
        <tr class="rate font-grey">
            <td colspan='4' class="form-data"><b>{{nbn.download[index].plan}}</b>
            </td>               
            <td colspan='2' class="form-data"><b>${{nbn.download[index].rate}}</b></td>
        </tr> 
        <tr class="less-padding">
            <td class="title less-padding " colspan="6"> Minimum Monthly Charges / Discounts 
            </td>
        </tr>
        <tr class="summary summary-midband padding20">
            <td class="data-charges bottom-align"><label>Total Plan Fees</label></td>
            <td class="data-charges text-right bottom-align"><label>${{roundVal(nbn.totalFee[index])}}</label></td>
            <td class="data-charges bottom-align">
                <label ng-if="formData.voiceCompAnalougeDisNBNMonthly[index]!=0">Analogue Discount</label><br ng-if="formData.voiceCompAnalougeDisNBNMonthly[index]!=0"/>
                <label ng-if="formData.nbnDis[index]!=0">Plan Discount</label><br ng-if="formData.nbnDis[index]!=0"/>
                <label><b>Total Discount</b></label>
            </td>
            <td class="data-charges text-right bottom-align">
                <label ng-if="formData.voiceCompAnalougeDisNBNMonthly[index]!=0">${{roundVal(formData.voiceCompAnalougeDisNBNMonthly[index])}}</label><br ng-if="formData.voiceCompAnalougeDisNBNMonthly[index]!=0"/>
                <label ng-if="formData.nbnDis[index]!=0">${{roundVal(formData.nbnDis[index])}}</label><br ng-if="formData.nbnDis[index]!=0"/>
                <label><b>${{roundVal(nbn.discount[index])}}</b></label>
            </td>
            <td class="data-charges bottom-align" ><label>Term</label></td>
            <td class="data-charges text-right bottom-align"><label><b>{{formData.aBillingTerm}}  Months</b></label></td>
        </tr>
    </table>
    <table class="table-content">
        <tr><td colspan="6" class="space90"></td></tr>
        <tr>
            <td colspan = "6" class="info-text info-text-small space-line">
                <h3>NBN Terms and conditions.</h3><br/>
                All Prices exclude GST. 
            <b>Nexgen fair use policy applies to our NBN Unlimited plans. Minimum term on all NBN plans listed above is 36 months. NBN  connection fee is $49. Additional Static IPs can be purchased for a fee of $5 per month per additional static IP. NBN Speed change fee is $29.95. NBN Installation fee of $299 will apply to Greenfields sites and subsequent development sites (This excludes router installation). Delivery of the above services is all Subject to capacity and available infrastructure. All Plan discounts expire at the end of the term.</b> NBN plans advertised above are an <b>Up to speed</b> and factors such as NBN technology, Hardware, Number of users, Software, distance from the node, WIFI signal interference, network congestion, content being accessed and software will impact the speed. Nexgen provides 5 emails at $0. Any additional emails  supplied can be purchased at $10 per month per 5 users. Nexgen Australia will provide a Mail box space of a 100MB. Nexgen Australia will deliver the NBN service to the site only. It is the customers’ responsibility to have their IT person to complete the connection of the NBN service at your site, and the customer is liable for all and any charges associated with the use of their IT person.  It is the customers’ responsibility for all internal cabling. Nexgen are not responsible for the management of the modem/router on site and is the customers responsibility. Early Termination Fees apply. Please refer to clause 15.5 of the Nexgen Application. Please visit www.nexgen.com.au for full Terms and Conditions. All lines delivered  via ATA or UNI V will be charged at <b>$39.95 per month. Calls made from ATA lines are charged at the following rates; 10 cents fixed per Local call, 25 cents per minute for calls to Australian Mobiles, 12 cents per minute for National calls. Note that International calls, National calls and calls to Australian mobiles attract a 10 cent flag fall per call. Calls to 13/1300 services are charged at $0.45 per call.</b>
            </td>
        </tr>
    </table>
    <htmlpagefooter name='pagesFooter'>   
        <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['nbn'][index];suburb=formData.comSuburb['nbn'][index];postcode=formData.comZipCode['nbn'][index]"></ng-include>
    </htmlpageFooter>
</div>