<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div>
	<div id="anchor" class="blank-div" style="height:180px; margin-bottom: -1px;">
		<span style="display: inline-block;height: 50px;vertical-align: middle;"></span>
		<img src="assets/images/logo.png" style="display:block;margin:auto" />
	</div>	
	<iframe src="{{trustSrc(url)}}" style="display:block;margin:auto;height:345px;width:900px;border: 0px"></iframe>
	<img src="assets/images/schemeLogoUrl.png" style="display:block;margin:auto;width:250px" />
</div>