<h1>NEXGEN AUSTRALIA REFERRAL REWARDS PROGRAM</h1>
<div class="row">
	<div class="col-md-8">
		<label>Company Name: <span id="cName">{{ data.cName}}</span></label>
	</div>
	<br>
	<div class="col-md-4">
		<label>Date: {{ data.created_at }}
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<label>Contact Person: {{ data.cContact}}</label>
	</div>
	<div class="col-md-4">
		<label>Telephone: {{ data.cTel }}
	</div>
</div>
<table class="table table-dark" width="100%" id="referalTable">
  <thead>
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(index,item) in data.referals track by $index">
      <td>{{ data.rBusinessName[index] }}</td>
      <td>{{ data.rContactPerson[index] }}</td>
      <td>{{ data.rPhoneNumber[index] }}</td>
      </tr>
  </tbody>
</table>
<div class="row">
<div class="col-md-12" align="right">
	<button type="button" class="btn btn-info">PDF</button>
	<button type="button" class="btn btn-info" export-to-csv company="{{data.cName}}">CSV</button>
	<button type="button" class="btn btn-danger" ng-click="closedialog()">Close</button>
</div>
</div>
