<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['telstraWireless'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%">
            <tr>
                <td colspan="3"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardTitle">NEXGEN MOBILE RATE CARD</td>
            </tr>
            <tr>
                <td colspan="6"> </td>
            </tr>
            <tr>
                <td colspan="6" class="planTitle">Telstra Wireless Monthly Plans</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="6" class="planCategory">{{formData.comLocation['telstraWireless'][index]}},{{formData.comSuburb['telstraWireless'][index]}},{{postcode=formData.comZipCode['telstraWireless'][index]}}</td>
            </tr>
            <tr class="plan-row">
                <td colspan="3" class="planItem" style="background:darkgrey"><b>{{formData.telstraWirelessPlans[index].description}} {{formData.telstraWirelessPlans[index].price}}</b></td>
                <td colspan="3" class="planPrice"><b>${{roundVal(formData.telstraWirelessPlans[index].price)}}</b></td>
            </tr> 
            <tr>
                <td colspan="6" class="planTitle">Minimum Monthly Charges / Discounts</td>  
            </tr>
            <tr>
                <td class="discountVoiceField">Monthly Mobile Plan Fee</td>
                <td class="discountVoiceItem"><b>${{roundVal(telstraWireless.totalFee[index])}}</b></td>
                <td class="discountVoiceField" >Plan Discount</td>
                <td class="discountVoiceItem"><b>${{roundVal(telstraWireless.discount[index])}}</b></td>
                <td class="discountVoiceField">Term</td>
                <td class="termItem">{{formData.aBillingTerm}} months</td>
            </tr>        
        </table>
        <p class="TAC">
            <b>Telstra Wireless Terms and Conditions.</b><br />
            All prices quoted (including plan ‘Allowances’) are exclusive of GST. MIN TERM IS 24 MONTHS. Discounts provided will expire at the end of the term.Timed voice calls are billed in 60 second
increments. Call Rates: Calls to Australian Local, Mobile, 13 and national numbers is charged at $0.90 Per minute. Call Forwarding is charged at $1.63 per minute. All calls made will have a
$0.37 flagfall charged per call made. **UNLIMITED plans have the following calls included: Australian Mobiles, Australian Local, Australian National, Calls to 13. 1 National Calls Allowance:
Includes National Voice Calls (some exclusions apply), Calls to 13/1300 Numbers, National Call Forwarding and National Voicemail Retrievals. 2 SMS & MMS Allowance: Includes National SMS.
Excludes Premium SMS/MMS. 3 *International Calls Allowance (from Australia to OS Landline destinations): Includes International Call Minutes to LANDLINE CALLS Only for the following
countries: 26 selected countries: Andorra, Bulgaria, Canada, China, Cyprus, Denmark, France, Germany, Guam, Hungary, Iceland, Israel, Italy, Luxembourg, Malaysia, Malta, Mexico,
Netherlands, New Zealand, Poland, Portugal, Romania, Spain, Sweden, United Kingdom, United States of America. International Call Access is barred by default upon service activation. 4 Data
Allowance: Includes use for National Data usage only. Any excess data on GSM or wireless will be charged at $0.028 per MB. Both downloads and uploads are counted towards the Data
Allowance calculation each billing cycle. Excludes use for International Mobile Data Roaming. When overseas, International Mobile Data Roaming usage charges apply. Data usage includes (but is
not limited to) access to email, WAP services, Applications and Internet browsing directly from a mobile device or by using the mobile device as a tethered modem (via WiFi, Bluetooth, cable
etc.). Any downloaded content, such as ringtones or logos, may incur additional charges from the provider of the content (which will be rebilled to you by Nexgen Australia). Data usage is billed in
1KB increments. 1GB = 1000MB. 1MB = 1024KB. 5 Contract Term & Early Termination Charges: Early Termination Charges do apply, Minimum 24 months term. 6 National Voice Calls: National
Voice Calls are National Direct Dialled (NDD) voice calls from mobile services, connected on the Telstra mobile network in Australia, to a fixed line service or mobile service connected to an
Australian network (excluding calls to fixed lines or mobiles provided overseas, calls to Premium Service numbers, calls to 13/1300/1800 numbers, calls to satellite phones and such other call
types as Nexgen Australia specifies from time to time). 7 Call Forwarding: The diversion of an incoming call to another fixed or mobile number within Australia. Call Forwarding is also referred to
as ’Diversion Mobile to Fixed’ and ‘Diversion Mobile to Mobile’. 8 Service Provider Charges: Network Carriers and the providers of 3rd party services may impose additional charges which will be
rebilled to you by Nexgen Australia. 9 SMS: SMS are text messages to mobile and landline services within Australia (National SMS) or overseas (International SMS). The fi xed charge applies to up
to 160 characters per message per recipient. Additional text will be charged at the same rate per message. SMS is charged upon origination of a message, regardless of whether delivery is
successful or not. All prices and price terms and conditions are subject to change with 30 days’ notice, with the exception of International Calls and International Roaming charges which are
subject to change without notice. Any usage types not specified are not eligible for Allowance credits and are charged at theapplicable rate. Allowances apply per individual service and are not
aggregated across multiple services. Unused Allowance expires at the end of each billing cycle and is not refundable or transferable. References to Australia exclude external territories. The
Monthly Access Fee is charged one month in advance and is the minimum amount the service will be charged per billing cycle, regardless of the usage. Nexgen Australia Fair Usage Policy ,or
other fair use or acceptable use policy published by Nexgen Australia will apply to the above Unlimited mobile plans. 4G coverage refers to Telstra. Access to the Telstra 4G Plus Network is
available when the end-user is in an Telstra 4G coverage area with a network compatible device and SIM card connected to a 4G mo bile plan. Outside 4G coverage areas, Telstra 3G Network
service may be available with a compatible device. 3G coverage refers to the Telstra 3G Network (UMTS 900/2100 MHz). Access to the Telstra 3G Network is available when the end-user is in an
Telstra 3G coverage area with a network compatible device and SIM card. Coverage can be checked at www.Telstra.com.au. Forfurther information or clarification about these plans, please
contact Nexgen Australia.
        </p>
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['telstraWireless'][index];suburb=formData.comSuburb['telstraWireless'][index];postcode=formData.comZipCode['telstraWireless'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>