 <style>
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Forms</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>View-Forms</strong>
                </li>
            </ol>
    </div> 
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm" ng-click="view_all()">View All Referrals</button>
            </div>
        </div>
    </div> 
  </div>

  <flash-message></flash-message>

  <div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-12">
     <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Form List</h5>
        </div>

    
        <div class="ibox-content">
           
            <!-- <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
                <th><a href="javascript:;" ng-click="sortKey = 'creator_name'; reverse = !reverse">
                    <center>User</center>
                    <span ng-show="sortKey == 'creator_name' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'creator_name' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="javascript:;" ng-click="sortKey = 'data.cName'; reverse = !reverse">
                    <center>Company</center>
                    <span ng-show="sortKey == 'data.cName' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'data.cName' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="javascript:;" ng-click="sortKey = 'created_at'; reverse = !reverse">
                    <center>Created Date</center>
                    <span ng-show="sortKey == 'created_at' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'created_at' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="javascript:;" ng-click="sortKey = 'types'; reverse = !reverse">
                    <center>Type of Forms</center>
                    <span ng-show="sortKey == 'types' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'types' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="javascript:;" ng-click="sortKey = 'status'; reverse = !reverse">
                    <center>Status</center>
                    <span ng-show="sortKey == 'status' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'status' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="javascript:;" ng-click="sortKey = 'status'; reverse = !reverse">
                    <center>Action</center>
                    <span ng-show="sortKey == 'status' && !reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortKey == 'status' && reverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
            </thead>        
                <tbody>
                    <tr class="gradeX" ng-repeat="form in forms | orderBy:sortKey:reverse |filter:search | filter:{status:status} | limitTo:userStatus">
                        <td style="width :20%"><b>Sales Rep:-</b> {{form.creator_name}}</td> 
                        <td style="width :20%">{{form.data.cName}}</td>
                        <td style="width :10%">{{form.created_at}}</td>
                        <td style="width :25%">{{form.types}}</td>
                        <td style="width :5%">{{form.status}}</td>
                        
                        <td style="width :20%"> 
                            <div class="ibox-tools dropdown form-tools">
                             <a ng-if="form.status=='Completed'" ng-click="downloadForms(form.id)"><i class="fa fa-download fa-2x"></i></a>
                                <a  ng-click="edit(form.id)"><i class="fa fa-pencil fa-2x"></i></a>
                                <a ng-click="delete(form.id)"><i class="fa fa-trash-o fa-2x"></i></a> 
                                <a ng-click="view_referals(form.id)"><img src="/images/forms/referral.jpg" style="width: 20px; height: 30px; margin-bottom: 17px"></a>                    
                            </div>
                        </td>
                    </tr>
                </tbody>
                 <tfoot>
                 
                      
                     
                </tfoot>
            </table> -->
     <table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmf.dtOptions" dt-instance="vmf.dtInstance" width="100%" dt-column-defs="vmf.dtColumnDefs">
        <thead>
          <tr>
            <th>No</th>
            <th>User</th>
            <th>Company</th>
            <th>Date Created</th>
            <th>Type of Forms</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index,form) in forms">
            <td style="width :2%">{{index+1}}</td> 
            <td style="width :20%"><b>Sales Rep:-</b> {{form.creator_name}}</td> 
            <td style="width :20%">{{form.data.cName}}</td>
            <td style="width :10%">{{form.created_at}}</td>
            <td style="width :25%">{{form.types}}</td>
            <td style="width :3%">{{form.status}}</td>
            
            <td style="width :20%"> 
                <div class="ibox-tools dropdown form-tools">
                    <a ng-if="form.status=='Completed'" ng-click="downloadForms(form.id)"><i class="fa fa-download fa-2x"></i></a>
                    <a  ng-click="edit(form.id)"><i class="fa fa-pencil fa-2x"></i></a>
                    <a ng-click="delete(form.id)"><i class="fa fa-trash-o fa-2x"></i></a> 
                    <a ng-if="form.status=='Completed'" ng-click="view_referals(form.id)"><img src="/images/forms/referral.jpg" style="width: 20px; height: 30px; display:inline-block; "></a>                    
                </div>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="container">

</div>
        </div>
     </div> 
    </div>
   </div>
  </div>
