.pageone{
    z-index: -998;
/*    position: static;*/
    height:100%;
    justify-content: center;
    background-image: url("../images/Slide1.jpg");
    background-repeat: no-repeat;
}
.table-one{
    margin-left: 12%;
    font-size: 21px;
    color: white;
}
.pagetwo{
    z-index: -998;
/*    position: static;*/
    width:100%;
    height:100%;
    justify-content: center;
    background-image: url("assets/images/Slide2.jpg");
    background-repeat: no-repeat;
}
.tabletwo{
    margin-left: 22%;
    font-size: 21px;
    padding-top: .5em;
    padding-bottom: .5em;
    border-collapse: separate;
    border-spacing: 15px 30px;

}
.pagethree{
    z-index: -998;
/*    position: static;*/
    width:100%;
    height:100%;
    justify-content: center;
    background-image: url("assets/images/Slide3.jpg");
    background-repeat: no-repeat;
}
.tablethree{

    font-size: 12px;
    width: 100%;

}
.pagefour{
    z-index: -998;
/*    position: static;*/
    width:100%;
    height:100%;
    justify-content: center;
    background-image: url("assets/images/Slide4.jpg");
    background-repeat: no-repeat;
}
.tablefour{

    font-size: 12px;
    width: 100%;

}
.pagefive{
    z-index: -998;
/*    position: static;*/
    width:100%;
    height:100%;
    justify-content: center;
    background-image: url("assets/images/Slide5.jpg");
    background-repeat: no-repeat;
}
.tablefive{
    list-style-type: none;
    font-size: 29px;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-collapse: separate;
    border-spacing: 15px 30px;
}
.lifive{
    margin: 25px 0;
}
.pagesix{
    z-index: -998;
/*    position: static;*/
    width:100%;
    height:100%;
    justify-content: center;
    background-image: url("assets/images/Slide6.jpg");
    background-repeat: no-repeat;
}
.tablesix{
    list-style-type: none;
    font-size: 15px;
    width: 100%;
}
.lisix{
    margin: 25px 0;
}
/*.pageOne-One{
    z-index: -990;
    color: black;
    margin-top: -52%;
    position:initial;
}*/
    @page {
        sheet-size : A4;
        margin: 0%;
    }

    @page   {
         margin-header:0mm;

    }

    div.  {
        page-break-before: right;
        page:  ;
    }

    @page pages {
        odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        /*margin-top: 1%;*/
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
        font-family: san-serif;
    }

    div.pages {
        page: pages;
        font-family: sans-serif;
    }