<!-- <script src="/assets/js/angular-sanitize.js"></script> -->
<link rel="stylesheet" href="/assets/css/upload.css">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/index.html">Home</a>
            </li>
            <li>
                <a ui-sref="#/schedule_goods">Schedule of Goods</a>
            </li>
            <li class="active">
                <strong>New Schedule</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Add a New Product</h5>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal" id="sg_form">

        <div class="form-group">
            <label class="col-sm-2 control-label">Group</label>
            <div class="col-sm-5">
                  <input type="text" class="form-control" ng-model="sg_form.group" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>


        <div class="form-group">
            <label class="col-sm-2 control-label"> Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="sg_form.item" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Recommended Retail Price(RRP)</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="sg_form.rrp" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        
        <div class="form-group"><label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-5">
                <!--  <select name="type" ng-model="sg_form.categories"  ng-dropdown required ng-options="cat.name for cat in categories"> 
              <option ng-option value="">Select</option> -->
              <select id="sg_form.category" ng-model="sg_form.category">
                <option ng-repeat="x in categories" value="{{x.name}}">{{x.name}}</option>
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Model</label>

            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="sg_form.model" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                    <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                            <div summernote class="summernote" >
                               <textarea ui-tinymce="tinymceOptions" ng-model="sg_form.descriptions"></textarea>
                                <input name="image" type="file" id="upload" class="hidden" onchange="">
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Image 1</label>
            <div class="col-sm-5">
            <div class="col-sm-4">
                <input type="file" id="image" ng-model="sg_form.img1"  class="form-control" nv-file-select uploader="uploader">
                <img src="/{{sg_form.img1}}" ng-model="sg_form.img1">
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">Upload</button>
                </li>
            </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Features</label>
            <div class="col-sm-10">
                    <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                            <div summernote class="summernote" >
                               <textarea ui-tinymce="tinymceOptions" ng-model="sg_form.features"></textarea>
                                <input name="image" type="file" id="upload" class="hidden" onchange="">
                            </div>

                        </div>
                    </div>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
		<div class="form-group"><label class="col-sm-2 control-label">Images 2</label>
            <div class="col-sm-5">
            <div class="col-sm-4">
                <input type="file" id="image" ng-model="sg_form.img2"  class="form-control" nv-file-select uploader="uploaders">
                <img src="/{{sg_form.img2}}" ng-model="sg_form.img2">
                <li ng-repeat="item in uploaders.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">Upload</button>
                </li>
            </div>
            </div>
        </div>
		
		<!-- new fields -->
		<div class="form-group"><label class="col-sm-2 control-label">Hardware Solutions</label>
            <div class="col-sm-10">
                    <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                            <div summernote class="summernote" >
                               <textarea ui-tinymce="tinymceOptions" ng-model="sg_form.hardware_solutions"></textarea>
                               <input name="image" type="file" id="upload" class="hidden" onchange="">
                            </div>

                        </div>
                    </div>
            </div>
        </div>
       
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <!-- <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="print"  ng-click="views()">
                    <i class="fa fa-new"></i> Print -->
                </a>
                 <a  class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save"  ng-click="save()">
                    <i class="fa fa-new"></i> Save
                </a>
                <a  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Save">
                    <i class="fa fa-new"></i> Cancel
                </a>
            </div>
        </div>

</form>
</div>
</div>
</div>
</div>
</div>
